Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2023-10, with the labels that each got.

#3509 fix(contentwarehouse): Update tag for create-document.js
  document-warehouse/quickstart.js
  document-warehouse/test/document.test.js
Labels: samples, api: contentwarehouse, owlbot:ignore

#3524 chore(auto-label): Asset tagging for subfolders
  .github/auto-label.yaml
Labels: samples

#3508 fix: Updates to Vertex AI Search samples after GA
  discoveryengine/search.js
  discoveryengine/test/search.test.js
Labels: samples, api: discoveryengine

#3537 feat: add search document sample code
  document-warehouse/search-document.js
  document-warehouse/test/document.test.js
Labels: samples, actions:force-run, owlbot:ignore

#3523 feat: get document code sample
  document-warehouse/get-document.js
  document-warehouse/quickstart.js
  document-warehouse/test/document.test.js
Labels: samples, api: contentwarehouse, owlbot:ignore

#3540 fix: Remove the docs step in CI
  .github/workflows/ci.yaml
Labels: samples, api: workflows

#3547 chore: remove beta references from jobs
  run/jobs/README.md
  run/jobs/test/e2e_test_cleanup.yaml
  run/jobs/test/e2e_test_setup.yaml
Labels: api: run, samples, asset: pattern

#3479 feat(compute): add sample and test for local SSD disk
  compute/createInstanceWithLocalSSD.js
  compute/test/creatingWindowsOSImage.test.js
  compute/test/samples.test.js
Labels: api: compute, samples

#3544 fix: update URL for Cloud Run GCS fuse example.
  run/filesystem/gcsfuse.Dockerfile
Labels: api: run, samples, asset: pattern

#3556 docs(workflows): Clean up region tags for sample browser
  workflows/list-workflows.js
  workflows/list-workflows.ts
Labels: samples, api: workflows

#3541 feat: add sample and test for getting an access token from an imperso…
  auth/README.md
  auth/accessTokenFromImpersonatedCredentials.js
  auth/package.json
  auth/system-test/accessTokenFromImpersonatedCredentials.test.js
Labels: samples, actions:force-run, api: auth
