Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2023-08, with the labels that each got.

#3374 test: update permissions on remove_label jobs
  .github/workflows/remove-label.yaml
Labels: samples, api: workflows

#3373 test: update GHA flakybot upload action
  .github/workflows/ai-platform-snippets.yaml
  .github/workflows/automl.yaml
  .github/workflows/dialogflow-cx.yaml
  .github/workflows/functions-slack.yaml
  .github/workflows/iam-deny.yaml
  .github/workflows/security-center-snippets.yaml
  .github/workflows/storagetransfer.yaml
  .github/workflows/test.yaml
  .github/workflows/utils/ci-secrets.yaml.njk
  .github/workflows/vision.yaml
Labels: samples, api: workflows

#3372 test: use --if-present rather than failing on build
  .github/workflows/ai-platform-snippets.yaml
  .github/workflows/automl.yaml
  .github/workflows/dialogflow-cx.yaml
  .github/workflows/functions-slack.yaml
  .github/workflows/iam-deny.yaml
  .github/workflows/security-center-snippets.yaml
  .github/workflows/storagetransfer.yaml
  .github/workflows/test.yaml
  .github/workflows/utils/ci-secrets.yaml.njk
  .github/workflows/vision.yaml
Labels: samples, api: workflows

#3378 chore(windows-update): Updating Windows version to 2022
  compute/instances/windows/creating-managing-windows-instances/createWindowsServerInstanceExternalIP.js
  compute/instances/windows/creating-managing-windows-instances/createWindowsServerInstanceInternalIP.js
  compute/test/creatingManagingWindows.test.js
Labels: api: compute, samples

#3382 chore: update blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#3391 Revert "test: update permissions on remove_label jobs"
  .github/workflows/remove-label.yaml
Labels: samples, api: workflows

#3385 fix(workflows): Add missing typescript packages
  workflows/quickstart/package.json
Labels: samples, api: workflows, actions:force-run

#3386 feat(workflows): add runtime arguments to workflows TS sample
  workflows/quickstart/index.js
  workflows/quickstart/index.ts
Labels: samples, api: workflows

#3393 fix: fix npm run build in recaptcha
  recaptcha_enterprise/snippets/package.json
  recaptcha_enterprise/snippets/test/test.passwordleak.ts
Labels: api: recaptchaenterprise, samples

#3383 docs: add Live Stream assets and pools samples and tests
  media/livestream/createAsset.js
  media/livestream/deleteAsset.js
  media/livestream/getAsset.js
  media/livestream/getPool.js
  media/livestream/listAssets.js
  media/livestream/test/livestream.test.js
  media/livestream/updatePool.js
Labels: samples

#3406 chore: update renovate bot to run every couple of weeks
  renovate.json
Labels: samples

#3404 chore: adding in region tag for cloud storage v2 unit test docs
  functions/v2/helloGCS/test/unit.test.js
Labels: api: cloudfunctions, samples

#3403 feat(workflows): add test to workflow quickstart for optional parameter
  workflows/quickstart/test/quickstart.test.ts
Labels: samples, api: workflows

#3366 DLP: Added sample for deidentify table with bucketing and dictionary replacement
  dlp/deIdentifyTableWithBucketingConfig.js
  dlp/deidentifyWithDictionaryReplacement.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3409 refactor(workflows): use `npm start` to run JS variant
  workflows/quickstart/package.json
  workflows/quickstart/tsconfig.json
Labels: samples, api: workflows

#3390 DLP: Added sample for inspect with stored infotype and inspect with custom hotword
  dlp/inspectWithCustomHotwords.js
  dlp/inspectWithStoredInfotype.js
  dlp/system-test/inspect.test.js
  dlp/system-test/mockdata.js
Labels: api: dlp, samples

#3454 chore(automl): disable legacy AutoML tests
  .github/workflows/automl.yaml
  .github/workflows/utils/workflows-secrets.json
Labels: api: automl, samples, api: workflows

#3411 docs: Updates to main `README.md`
  README.md
Labels: samples

#3405 chore: shifting test http region tags to show imports
  functions/helloworld/helloworldHttp/test/sample.unit.http.test.js
Labels: api: cloudfunctions, samples

#3364 DLP: Added sample for k anonymity with entity ID and deidentify cloud storage
  dlp/deIdentifyCloudStorage.js
  dlp/kAnonymityWithEntityIds.js
  dlp/system-test/deid.test.js
  dlp/system-test/mockdata.js
  dlp/system-test/risk.test.js
Labels: api: dlp, samples

#3459 test: fix env vars in scheduled runs
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
Labels: samples, api: workflows

#3460 refactor: only allow for major releases to be aired, no minor updates
  renovate.json
Labels: samples

#3408 fix: Add newest model CLOUD_1 to avoid customers getting CUDA errors with …
  ai-platform/snippets/create-training-pipeline-image-object-detection.js
Labels: samples, api: aiplatform

#3410 feat(aiplatform): add sample for Gen AI code model tuning
  ai-platform/snippets/code-model-tuning.js
  ai-platform/snippets/test/code-model-tuning.test.js
Labels: samples, api: aiplatform

#3415 DLP: Updated sample for inspect data to hybrid trigger using mock approach
  dlp/inspectDataToHybridJobTrigger.js
  dlp/system-test/inspect.test.js
  dlp/system-test/mockdata.js
  dlp/system-test/triggers.test.js
Labels: api: dlp, samples

#3413 DLP: Updates test cases of risk job samples with mock approach
  dlp/categoricalRiskAnalysis.js
  dlp/kAnonymityAnalysis.js
  dlp/kMapEstimationAnalysis.js
  dlp/lDiversityAnalysis.js
  dlp/numericalRiskAnalysis.js
  dlp/system-test/mockdata.js
  dlp/system-test/risk.test.js
Labels: api: dlp, samples

#3468 chore(issue-295372912): small cloud-tasks PORT change
  cloud-tasks/snippets/server.js
Labels: api: tasks, samples

#3414 DLP: Updated test cases for storedInfoType related samples to use mock approach
  dlp/createStoredInfoType.js
  dlp/system-test/metadata.test.js
  dlp/system-test/mockdata.js
  dlp/updateStoredInfoType.js
Labels: api: dlp, samples

#3461 refactor(workflows): change how runtimeArgs are defined in workflows quickstart
  workflows/quickstart/index.js
  workflows/quickstart/index.ts
Labels: samples, api: workflows

#3412 DLP: Added test cases with mock implementation for inspect GCS, BigQuery and Datastore samples
  dlp/inspectBigQuery.js
  dlp/inspectDatastore.js
  dlp/inspectGCSFile.js
  dlp/system-test/inspect.test.js
  dlp/system-test/mockdata.js
Labels: api: dlp, samples

#3478 chore: update code owners to infra-db-sdk
  .github/blunderbuss.yml
  CODEOWNERS
Labels: samples
