Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2023-07, with the labels that each got.

#3320 chore(aiplatform): temporarily remove unready samples
  ai-platform/snippets/predict-image-from-image-and-text.js
  ai-platform/snippets/predict-image-from-text.js
  ai-platform/snippets/test/predict-image-from-image-and-text.test.js
  ai-platform/snippets/test/predict-image-from-text.test.js
Labels: samples, api: aiplatform

#3326 chore(scc-samples): update comments to include new parent resources
  security-center/snippets/v1/addDeleteSecurityMarks.js
  security-center/snippets/v1/addFindingSecurityMarks.js
  security-center/snippets/v1/addSecurityMarks.js
  security-center/snippets/v1/createNotificationConfig.js
  security-center/snippets/v1/deleteNotificationConfig.js
  security-center/snippets/v1/deleteSecurityMarks.js
  security-center/snippets/v1/getNotificationConfig.js
  security-center/snippets/v1/listAllAssets.js
  security-center/snippets/v1/listAllFindings.js
  security-center/snippets/v1/listAllSources.js
  security-center/snippets/v1/listAssetsAndChanges.js
  security-center/snippets/v1/listAssetsAtTime.js
  security-center/snippets/v1/listAssetsWithSecurityMarks.js
  security-center/snippets/v1/listFilteredAssets.js
  security-center/snippets/v1/listFilteredFindings.js
  security-center/snippets/v1/listFindingsAtTime.js
  security-center/snippets/v1/listFindingsWithSecurityMarks.js
  security-center/snippets/v1/listNotificationConfigs.js
  security-center/snippets/v1/updateNotificationConfig.js
Labels: api: securitycenter, samples

#3324 refactor: update gts@3.1.1 to latest on github v4.0.1
  package.json
Labels: automerge, samples

#3325 chore(cleanup): retire media translate samples
  mediatranslation/README.md
  mediatranslation/test/quickstart.test.js
  mediatranslation/test/translate_from_file.test.js
Labels: samples, api: mediatranslation

#3338 chore: update pull request template and contributing docs
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: samples

#3333 feat(cloud-sql): add tedious connector sample
  cloud-sql/sqlserver/tedious/Dockerfile
  cloud-sql/sqlserver/tedious/README.md
  cloud-sql/sqlserver/tedious/app.flexible.yaml
  cloud-sql/sqlserver/tedious/app.standard.yaml
  cloud-sql/sqlserver/tedious/connect-connector.js
  cloud-sql/sqlserver/tedious/connect-tcp.js
  cloud-sql/sqlserver/tedious/deployment.yaml
  cloud-sql/sqlserver/tedious/index.js
  cloud-sql/sqlserver/tedious/package.json
  cloud-sql/sqlserver/tedious/server/server.js
  cloud-sql/sqlserver/tedious/service-account.yaml
  cloud-sql/sqlserver/tedious/service.yaml
  cloud-sql/sqlserver/tedious/tedious-helper.js
  cloud-sql/sqlserver/tedious/test/server.test.js
  cloud-sql/sqlserver/tedious/views/index.pug
Labels: api: cloudsql, samples

#3343 chore: update puppeteer image to node 16
  .kokoro/run/websockets.cfg
Labels: api: run, samples

#3344 chore: update puppeteer image to node 16
  .kokoro/run/websockets.cfg
  run/websockets/package.json
Labels: api: run, samples

#3316 DLP: Added sample for update stored infotype
  dlp/package.json
  dlp/system-test/metadata.test.js
  dlp/system-test/resources/test.txt
  dlp/system-test/triggers.test.js
  dlp/updateStoredInfoType.js
Labels: api: dlp, samples, actions:force-run

#3342 feat(functions): create new samples for typed function signature
  .github/workflows/functions-v2-typed-googlechatbot.yaml
  .github/workflows/functions-v2-typed-greeting.yaml
  .github/workflows/utils/workflows.json
  functions/v2/typed/googlechatbot/index.js
  functions/v2/typed/googlechatbot/package.json
  functions/v2/typed/googlechatbot/test/unit.test.js
  functions/v2/typed/greeting/index.js
  functions/v2/typed/greeting/package.json
  functions/v2/typed/greeting/test/unit.test.js
Labels: api: cloudfunctions, samples

#3347 DLP: Added sample for inspect string using exclusion regex
  dlp/inspectStringWithExclusionRegex.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples, actions:force-run

#3353 DLP: Added samples for inspect image file
  dlp/inspectImageFile.js
  dlp/inspectImageFileListedInfoTypes.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3352 DLP: Added sample for update trigger and inspect data to hybrid job t…
  dlp/inspectDataToHybridJobTrigger.js
  dlp/system-test/metadata.test.js
  dlp/system-test/triggers.test.js
  dlp/updateTrigger.js
Labels: api: dlp, samples

#3356 chore(aiplatform): update LLM tuning sample
  ai-platform/snippets/tuning.js
Labels: automerge, samples, api: aiplatform

#3288 feat(run): add Cloud Run + Filestore sample
  .github/workflows/run-filesystem.yaml
  .github/workflows/utils/workflows.json
  run/filesystem/Dockerfile
  run/filesystem/index.js
  run/filesystem/package.json
  run/filesystem/run.sh
  run/filesystem/test/e2e_test_cleanup.yaml
  run/filesystem/test/e2e_test_setup.yaml
  run/filesystem/test/index.test.js
  run/filesystem/test/system.test.js
Labels: api: run, samples

#3360 DLP: Added sample for reidentify text and table using FPE
  dlp/reidentifyTableWithFpe.js
  dlp/reidentifyTextWithFpe.js
  dlp/system-test/deid.test.js
  dlp/system-test/mockdata.js
Labels: api: dlp, samples

#3359 Added sample for inspect GCS file, bigquery and datastore with SCC action
  dlp/inspectBigquerySendToScc.js
  dlp/inspectDatastoreSendToScc.js
  dlp/inspectGcsSendToScc.js
  dlp/system-test/inspect.test.js
  dlp/system-test/mockdata.js
Labels: api: dlp, samples

#3357 docs(samples): Add batch mode sample and test
  media/transcoder/createJobFromPresetBatchMode.js
  media/transcoder/package.json
  media/transcoder/test/transcoder.test.js
Labels: samples

#3368 feat(run): add GCSFuse files to filesystem sample
  run/filesystem/gcsfuse.Dockerfile
  run/filesystem/gcsfuse.run.sh
Labels: api: run, samples

#3369 fix: rename gcsfuse script
  run/filesystem/gcsfuse.Dockerfile
  run/filesystem/gcsfuse_run.sh
  run/filesystem/run.sh
Labels: api: run, samples
