Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2023-05, with the labels that each got.

#3188 fix: live reload demosite templates
  recaptcha_enterprise/demosite/app/index.js
Labels: api: recaptchaenterprise, samples

#3192 chore: update Cloud Workflows samples
  workflows/list-workflows.js
  workflows/list-workflows.ts
  workflows/quickstart/package.json
  workflows/quickstart/test/quickstart.test.js
  workflows/quickstart/test/quickstart.test.ts
  workflows/test/list-workflows.ts
Labels: samples, api: workflows

#3190 fix: Add cloudevent dep in OCR sample
  .github/workflows/functions-v2-ocr-app.yaml
  .github/workflows/utils/workflows.json
  functions/v2/ocr/app/package.json
  functions/v2/ocr/app/test/index.test.js
Labels: samples, api: workflows

#3195 fix: update demosite to reflect error messages in client
  recaptcha_enterprise/demosite/app/controllers/controller.js
  recaptcha_enterprise/demosite/app/static/demo-6df0841a.js
  recaptcha_enterprise/demosite/app/static/global-e680a49614fd8ff8.js
Labels: api: recaptchaenterprise, samples

#3199 fix: add execution argument to workflow sample
  workflows/quickstart/index.js
  workflows/quickstart/index.ts
Labels: samples, api: workflows

#3178 DLP: Added sample for deidentify table using conditional logic
  dlp/deIdentifyTableConditionInfoTypes.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3207 chore: add cloud-asset-analysis-team to CODEOWNERS
  CODEOWNERS
Labels: samples

#3179 DLP: Added sample for redact all text in an image
  dlp/redactImageFileAllText.js
  dlp/system-test/redact.test.js
  dlp/system-test/resources/redact-all-text.expected.png
Labels: api: dlp, samples

#3196 docs(assets): Add sample code for org policy analyzer
  asset/snippets/analyzeOrgPolicies.js
  asset/snippets/analyzeOrgPolicyGovernedAssets.js
  asset/snippets/analyzeOrgPolicyGovernedContainers.js
  asset/snippets/package.json
  asset/snippets/test/orgPolicyAnalyzer.test.js
Labels: api: cloudasset, samples

#3180 DLP: Added a sample for inspect string with omitting overlapping
  dlp/inspectStringOmitOverlap.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3204 DLP: Added sample for de-identify table with row suppress
  dlp/deIdentifyTableRowSuppress.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3155 Authorization -> authorization in app.js
  eventarc/generic/app.js
Labels: samples, api: eventarc

#3213 fix: Update detect-intent-sentiment-analysis-test.js
  dialogflow-cx/test/detect-intent-sentiment-analysis-test.js
Labels: api: dialogflow, samples

#3214 chore: update typeless-sample-bot from 1.3.0 to 1.3.2
  owlbot.py
Labels: samples

#3216 chore: update asset owners and blunderbuss
  .github/blunderbuss.yml
  CODEOWNERS
Labels: samples

#3215 fix(issue-3158): resolve python version to resolve kokoro test image failures
  .kokoro/build-with-run.sh
Labels: samples

#3223 feat: adding pubsub base for future samples to be added in
  pubsub/README.md
Labels: samples

#3211 docs(samples): Add Sample for Gen App Builder - Search
  .github/auto-label.yaml
  .github/workflows/discoveryengine.yaml
  .github/workflows/utils/workflows.json
  .gitignore
  CODEOWNERS
  discoveryengine/.eslintrc.yml
  discoveryengine/package.json
  discoveryengine/search.js
  discoveryengine/test/.eslintrc.yml
  discoveryengine/test/search.test.js
Labels: samples

#3209 chore: manually updating puppeteer and google-github-actions/auth action to v1.1.1 from forked renovate
  .github/workflows/ai-platform-snippets.yaml
  .github/workflows/automl.yaml
  .github/workflows/dialogflow-cx.yaml
  .github/workflows/functions-slack.yaml
  .github/workflows/iam-deny.yaml
  .github/workflows/security-center-snippets.yaml
  .github/workflows/storagetransfer.yaml
  .github/workflows/test.yaml
  .github/workflows/vision.yaml
  appengine/websockets/package.json
  run/websockets/package.json
Labels: samples, api: workflows

#3225 chore(dialogflow-cx): update function samples to use http signature
  dialogflow-cx/configure-webhook-to-set-form-parameter-as-optional-or-required.js
  dialogflow-cx/package.json
  dialogflow-cx/test/configure-webhook-to-set-form-parameter-as-optional-or-required.js
  dialogflow-cx/test/webhook-configure-session-parameters.test.js
  dialogflow-cx/test/webhook-validate-form-parameter.test.js
  dialogflow-cx/test/webhook.test.js
  dialogflow-cx/webhook-configure-session-parameters.js
  dialogflow-cx/webhook-validate-form-parameter.js
  dialogflow-cx/webhooks.js
Labels: api: dialogflow, samples

#3226 Update translate_batch_translate_text.js
  translate/v3/translate_batch_translate_text.js
Labels: samples, api: translate

#3227 chore(endpoints): Update region tag with product prefix
  endpoints/getting-started/app.yaml
Labels: samples, api: endpoints

#3200 DLP: Added sample for inspect string with exclusion dict
  dlp/inspectStringWithExclusionDict.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3202 DLP: Added sample for redact all infotypes from an image
  dlp/redactImageFileAllInfoTypes.js
  dlp/system-test/redact.test.js
  dlp/system-test/resources/redact-all-info-type.expected.png
Labels: api: dlp, samples

#3229 chore(fixit): update dialogflow sample to use functions framework
  dialogflow/package.json
  dialogflow/system-test/webhook.test.js
  dialogflow/webhook.js
Labels: api: dialogflow, samples

#3231 chore: update polling for Cloud Run sample
  run/logging-manual/package.json
  run/logging-manual/test/system.test.js
Labels: api: run, samples

#3203 DLP: Added sample for inspect string with substring exclusions
  dlp/inspectStringWithExclusionDictSubstring.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3201 DLP: Added sample for de-identify with table bucketing
  dlp/deIdentifyTableBucketing.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples
