Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2023-04, with the labels that each got.

#3094 chore(functions/v2/firebase/firestore/helloFirestore): Create new hello firestore cloud event sample
  functions/v2/firebase/firestore/helloFirestore/data.proto
  functions/v2/firebase/firestore/helloFirestore/google/protobuf/struct.proto
  functions/v2/firebase/firestore/helloFirestore/google/protobuf/timestamp.proto
  functions/v2/firebase/firestore/helloFirestore/google/type/latlng.proto
  functions/v2/firebase/firestore/helloFirestore/index.js
  functions/v2/firebase/firestore/helloFirestore/package.json
  functions/v2/firebase/firestore/helloFirestore/test/index.test.js
Labels: api: cloudfunctions, samples

#3098 chore(functions/v2/firebase/firestore/makeUpperCase): New gen 2 compatible firestore cloud event sample
  functions/v2/firebase/firestore/makeUpperCase/data.proto
  functions/v2/firebase/firestore/makeUpperCase/google/protobuf/struct.proto
  functions/v2/firebase/firestore/makeUpperCase/google/protobuf/timestamp.proto
  functions/v2/firebase/firestore/makeUpperCase/google/type/latlng.proto
  functions/v2/firebase/firestore/makeUpperCase/index.js
  functions/v2/firebase/firestore/makeUpperCase/package.json
  functions/v2/firebase/firestore/makeUpperCase/test/index.test.js
Labels: api: cloudfunctions, samples

#3103 Use --watch to restart the Node server upon source file change.
  recaptcha_enterprise/demosite/docker-compose.yaml
Labels: api: recaptchaenterprise, samples

#3104 fix: update content type for Cloud Tasks samples
  cloud-tasks/snippets/app.yaml
  cloud-tasks/snippets/createHttpTask.js
  cloud-tasks/snippets/createHttpTaskWithToken.js
  cloud-tasks/snippets/createTask.js
  cloud-tasks/snippets/package.json
  cloud-tasks/snippets/server.js
Labels: api: tasks, samples

#3108 fix: matching test names with region tags per enforcer requirements
  appengine/hello-world/flexible_nodejs16_and_earlier/test/app.test.js
  appengine/metadata/flexible_nodejs16_and_earlier/test/server.test.js
  appengine/storage/flexible_nodejs16_and_earlier/system-test/app.test.js
Labels: api: appengine, samples

#3079 ci: use flakybot with actions workflows
  .github/flakybot.yaml
  .github/workflows/ci.yaml.njk
  .github/workflows/flakybot.yaml
  .github/workflows/remove-label.yaml
  .github/workflows/scheduler.yaml
  .github/workflows/test.yaml
  .mocharc.js
Labels: samples, api: workflows

#3113 docs: skip testing temporarily
  media/video-stitcher/test/stitcher.test.js
Labels: samples

#3123 fix: vision landmark test failures
  vision/system-test/detect.test.js
Labels: api: vision, samples

#3131 chore(functions/v2/firebase): update firebase samples
  functions/v2/firebase/remote-config/helloRemoteConfig/.gcloudignore
  functions/v2/firebase/remote-config/helloRemoteConfig/index.js
  functions/v2/firebase/remote-config/helloRemoteConfig/package.json
  functions/v2/firebase/remote-config/helloRemoteConfig/test/index.test.js
  functions/v2/firebase/rtdb/helloRTDB/.gcloudignore
  functions/v2/firebase/rtdb/helloRTDB/index.js
  functions/v2/firebase/rtdb/helloRTDB/package.json
  functions/v2/firebase/rtdb/helloRTDB/test/index.test.js
Labels: api: cloudfunctions, samples

#3134 fix: update function slack test
  functions/slack/test/integration.test.js
Labels: api: cloudfunctions, samples

#3133 chore: remove nodejs version from comment to avoid mismatch
  cloud-sql/mysql/mysql/Dockerfile
  cloud-sql/postgres/knex/Dockerfile
  cloud-sql/sqlserver/mssql/Dockerfile
  eventarc/audit-storage/Dockerfile
  eventarc/generic/Dockerfile
  eventarc/pubsub/Dockerfile
  memorystore/redis/cloud_run_deployment/Dockerfile
  run/hello-broken/Dockerfile
  run/helloworld/Dockerfile
  run/idp-sql/Dockerfile
  run/image-processing/Dockerfile
  run/logging-manual/Dockerfile
  run/markdown-preview/editor/Dockerfile
  run/markdown-preview/renderer/Dockerfile
  run/pubsub/Dockerfile
Labels: api: run, samples

#3130 samples: remove restriction of JPEGs only for overlay images
  media/transcoder/createJobWithAnimatedOverlay.js
  media/transcoder/createJobWithStaticOverlay.js
Labels: samples

#3135 chore: Adding issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: samples

#3099 DLP: Added sample for deidentify using simple word list
  dlp/deIdentifyWithSimpleWordList.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3107 DLP: Added sample for inspect string with custom regex
  dlp/inspectWithCustomRegex.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3139 chore(functions/spanner): update sample to use declarative signature
  functions/spanner/index.js
  functions/spanner/package.json
  functions/spanner/test/index.test.js
Labels: api: cloudfunctions, samples

#3136 Updates to README
  run/image-processing/README.md
Labels: api: run, samples

#3101 DLP: Added sample for de-identification with an exception list
  dlp/deIdentifyWithExceptionList.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3127 DLP: added sample for inspect with hotword rule
  dlp/inspectWithHotwordRules.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3128 DLP: Added sample for deidentify by redacting matched input values
  dlp/deIdentifyWithRedaction.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3156 chore(docs): Update PR template with missing steps
  .github/PULL_REQUEST_TEMPLATE.md
Labels: samples

#3162 DLP: Added sample for deidentify table with info types
  dlp/deIdentifyTableInfoTypes.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3164 DLP: Added sample for redact image with info types
  dlp/redactImageFileListedInfoTypes.js
  dlp/system-test/redact.test.js
Labels: api: dlp, samples

#3161 DLP: Added sample for inspect string with omitting custom matches
  dlp/inspectStringCustomOmitOverlap.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3163 chore: CODEOWNERS audit
  CODEOWNERS
Labels: samples

#3169 DLP: Added sample for deidentify table with info types
  dlp/deIdentifyTableInfoTypes.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3159 feat: update recaptcha demosite front end
  recaptcha_enterprise/demosite/app/static/demo-6df0841a.js
  recaptcha_enterprise/demosite/app/static/global-e680a49614fd8ff8.js
  recaptcha_enterprise/demosite/app/templates/comment.html
  recaptcha_enterprise/demosite/app/templates/home.html
  recaptcha_enterprise/demosite/app/templates/login.html
  recaptcha_enterprise/demosite/app/templates/signup.html
  recaptcha_enterprise/demosite/app/templates/store.html
Labels: api: recaptchaenterprise, samples

#3170 DLP: Added sample for redact image with info types
  dlp/redactImageFileListedInfoTypes.js
  dlp/system-test/redact.test.js
Labels: api: dlp, samples

#3171 DLP: Added sample for inspect string with omitting custom matches
  dlp/inspectStringCustomOmitOverlap.js
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3173 DLP: Added sample for transform table using conditional logic
  dlp/deIdentifyTableConditionMasking.js
  dlp/system-test/deid.test.js
Labels: api: dlp, samples

#3189 chore: update timeout for gae websocket test
  appengine/websockets/package.json
Labels: api: appengine, samples
