Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2024-08, with the labels that each got.

#3772 feat: Batch notifications
  .github/workflows/batch.yaml
  batch/create/create_batch_notifications.js
  batch/package.json
  batch/test/advanced_creation.test.js
  batch/test/basics.test.js
  batch/test/create_batch_notifications.test.js
Labels: samples, api: batch

#3774 Update deploy-model.js to remove mention of deprecated AutoML Vision
  ai-platform/snippets/deploy-model.js
Labels: samples, api: aiplatform

#3777 feat: batch_create_local_ssd_job
  batch/create/create_local_ssd_job.js
  batch/test/create_local_ssd_job.test.js
Labels: samples, api: batch

#3776 feat: batch_create_gpu_job
  batch/create/create_gpu_job.js
  batch/create/create_gpu_job_n1.js
  batch/test/create_gpu_job.test.js
  batch/test/create_gpu_job_n1.test.js
Labels: samples, api: batch

#3775 fix(functions): fix invalid yaml on functions-slack.yaml workflow
  .github/workflows/functions-slack.yaml
Labels: api: cloudfunctions, samples

#3780 feat: Add routeoptimization snippets
  .github/blunderbuss.yml
  CODEOWNERS
  routeoptimization/snippets/optimizeTours.js
  routeoptimization/snippets/package.json
  routeoptimization/snippets/test/optimizeTours.test.js
Labels: samples

#3778 feat: batch_create_persistent_job
  batch/create/create_persistent_disk_job.js
  batch/test/create_persistent_disk_job.test.js
Labels: samples, api: batch

#3768 feat: added samples for regional SM (#3729)
  secret-manager/package.json
  secret-manager/regional_samples/accessRegionalSecretVersion.js
  secret-manager/regional_samples/addRegionalSecretVersion.js
  secret-manager/regional_samples/createRegionalSecret.js
  secret-manager/regional_samples/deleteRegionalSecret.js
  secret-manager/regional_samples/destroyRegionalSecretVersion.js
  secret-manager/regional_samples/disableRegionalSecretVersion.js
  secret-manager/regional_samples/enableRegionalSecretVersion.js
  secret-manager/regional_samples/getRegionalSecret.js
  secret-manager/regional_samples/getRegionalSecretVersion.js
  secret-manager/regional_samples/iamGrantAccessWithRegionalSecret.js
  secret-manager/regional_samples/iamRevokeAccessWithRegionalSecret.js
  secret-manager/regional_samples/listRegionalSecretVersions.js
  secret-manager/regional_samples/listRegionalSecrets.js
  secret-manager/regional_samples/regionalQuickstart.js
  secret-manager/regional_samples/updateRegionalSecret.js
  secret-manager/regional_samples/updateRegionalSecretWithAlias.js
  secret-manager/test/secretmanager.test.js
Labels: api: secretmanager, samples

#3786 fix(batch): repair copyright year in header
  batch/create/create_persistent_disk_job.js
Labels: samples, api: batch

#3764 chore: cleanup unused region tags
  generative-ai/snippets/count-tokens/countTokens.js
  generative-ai/snippets/function-calling/functionCallingStreamChat.js
  generative-ai/snippets/nonStreamingMultipartContent.js
  generative-ai/snippets/safetySettings.js
  generative-ai/snippets/sendMultiModalPromptWithImage.js
  generative-ai/snippets/sendMultiModalPromptWithVideo.js
  generative-ai/snippets/streamChat.js
Labels: samples, api: genai

#3759 fix(recaptcha): remove execute/assessment from homepage load.
  recaptcha_enterprise/demosite/app/config.properties
  recaptcha_enterprise/demosite/app/controllers/controller.js
  recaptcha_enterprise/demosite/app/routes.js
  recaptcha_enterprise/demosite/app/static/demo-2af4c10e.js
  recaptcha_enterprise/demosite/app/templates/comment.html
  recaptcha_enterprise/demosite/app/templates/home.html
  recaptcha_enterprise/demosite/app/templates/login.html
  recaptcha_enterprise/demosite/app/templates/signup.html
  recaptcha_enterprise/demosite/app/templates/store.html
Labels: api: recaptchaenterprise, samples, asset: flagship

#3767 feat: Added samples for secrets with labels (#3728)
  secret-manager/createSecretWithLabels.js
  secret-manager/createUpdateSecretLabel.js
  secret-manager/deleteSecretLabel.js
  secret-manager/package.json
  secret-manager/test/secretmanager.test.js
  secret-manager/viewSecretLabels.js
Labels: api: secretmanager, samples

#3782 feat: batch_custom_events
  batch/create/create_batch_custom_events.js
  batch/test/create_batch_custom_events.test.js
Labels: samples, api: batch

#3788 feat(dlp): add code samples for REP endpoints
  dlp/inspectStringRep.js
  dlp/package.json
  dlp/system-test/inspect.test.js
Labels: api: dlp, samples

#3717 feat: Adding API v2 IAM+Notifications samples
  .github/workflows/utils/workflows.json
  security-center/snippets/system-test/v1/assetSecurityMarks.test.js
  security-center/snippets/system-test/v1/findings.test.js
  security-center/snippets/system-test/v1/listAllAssets.test.js
  security-center/snippets/system-test/v1/listAssetsAndChanges.test.js
  security-center/snippets/system-test/v1/listAssetsAtTime.test.js
  security-center/snippets/system-test/v1/listFilteredAssets.test.js
  security-center/snippets/system-test/v1/notifications.test.js
  security-center/snippets/system-test/v1/orgSettings.test.js
  security-center/snippets/system-test/v2/notifications.test.js
  security-center/snippets/v2/createNotificationConfig.js
  security-center/snippets/v2/deleteNotificationConfig.js
  security-center/snippets/v2/getNotificationConfig.js
  security-center/snippets/v2/listNotificationConfigs.js
  security-center/snippets/v2/receiveNotifications.js
  security-center/snippets/v2/updateNotificationConfig.js
Labels: api: securitycenter, samples, api: workflows

#3722 feat(securitycenter): add finding sources iam samples
  .github/workflows/security-center-snippets.yaml
  .github/workflows/utils/workflows.json
  security-center/snippets/package.json
  security-center/snippets/system-test/v2/findings.test.js
  security-center/snippets/system-test/v2/notifications.test.js
  security-center/snippets/v1/createFinding.js
  security-center/snippets/v1/listAllFindings.js
  security-center/snippets/v2/bulkMuteFindings.js
  security-center/snippets/v2/createFinding.js
  security-center/snippets/v2/createSource.js
  security-center/snippets/v2/getIamPolicy.js
  security-center/snippets/v2/getSource.js
  security-center/snippets/v2/groupFindings.js
  security-center/snippets/v2/groupFindingsWithFilter.js
  security-center/snippets/v2/listAllFindings.js
  security-center/snippets/v2/listAllSources.js
  security-center/snippets/v2/listFilteredFindings.js
  security-center/snippets/v2/setFindingState.js
  security-center/snippets/v2/setIamPolicy.js
  security-center/snippets/v2/setMuteFinding.js
  security-center/snippets/v2/setUnmuteFinding.js
  security-center/snippets/v2/testIam.js
  security-center/snippets/v2/updateFindingSource.js
  security-center/snippets/v2/updateSource.js
Labels: api: securitycenter, samples, api: workflows

#3804 fix: repair yaml indentation
  .github/workflows/functions-slack.yaml
Labels: samples, api: workflows

#3805 fix: repair yaml indentation
  .github/workflows/iam-deny.yaml
Labels: samples, api: workflows

#3795 feat: create_compute_hyperdisk
  compute/createInstance.js
  compute/createInstanceFromTemplateWithOverrides.js
  compute/custom-hostname-instance/createInstanceWithCustomHostname.js
  compute/disks/createComputeHyperdisk.js
  compute/instances/create-start-instance/createInstanceWithAdditionalDisk.js
  compute/instances/create-start-instance/createInstanceWithSubnet.js
  compute/instances/preventing-accidental-vm-deletion/createInstance.js
  compute/test/createComputeHyperdisk.test.js
  compute/test/createInstanceTemplates.test.js
  compute/test/createStartInstance.test.js
  compute/test/samples.test.js
  compute/test/util.js
  functions/v2/autoLabelInstance/test/system.test.js
Labels: api: compute, samples

#3797 feat: compute_hyperdisk_pool_create
  compute/disks/createComputeHyperdiskPool.js
  compute/test/createComputeHyperdiskPool.test.js
Labels: api: compute, samples

#3794 chore(ai-platform): add preview 0815
  ai-platform/snippets/predict-text-embeddings-preview.js
  ai-platform/snippets/test/predict-text-embeddings.test.js
Labels: samples, api: aiplatform

#3800 feat: compute_hyperdisk_create_from_pool
  compute/disks/createComputeHyperdiskFromPool.js
  compute/test/createComputeHyperdisk.test.js
  compute/test/createComputeHyperdiskFromPool.test.js
  compute/test/createComputeHyperdiskPool.test.js
  compute/test/util.js
Labels: api: compute, samples
