Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2024-12, with the labels that each got.

#3902 feat: add tpu_vm_create_topology/startup_script
  tpu/createStartupScriptVM.js
  tpu/createTopologyVM.js
  tpu/test/createStartupScriptVM.test.js
  tpu/test/createTopologyVM.test.js
Labels: samples, api: workflows, api: tpu

#3925 feat: compute_snapshot_schedule_create/delete/get/edit
  compute/snapshotSchedule/createSnapshotSchedule.js
  compute/snapshotSchedule/deleteSnapshotSchedule.js
  compute/snapshotSchedule/editSnapshotSchedule.js
  compute/snapshotSchedule/getSnapshotSchedule.js
  compute/test/snapshotSchedule.test.js
Labels: kokoro:force-run, kokoro:run, api: compute, samples

#3913 feat: generativeaionvertexai_embedding_batch
  ai-platform/snippets/create-batch-embedding.js
  ai-platform/snippets/test/create-batch-embedding.test.js
Labels: kokoro:force-run, kokoro:run, samples, api: aiplatform

#3931 chore: Update CODEOWNERS
  CODEOWNERS
Labels: samples

#3934 chore: Update blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#3933 fix: testing-isolation trim spaces on diffs
  .github/cloud-samples-tools/cmd/main.go
Labels: samples

#3935 fix: testing-isolation excluded packages
  .github/cloud-samples-tools/cmd/main.go
  .github/cloud-samples-tools/pkg/config/config.go
  .github/cloud-samples-tools/pkg/config/config_test.go
  .github/cloud-samples-tools/pkg/config/testdata/excluded/package.json
Labels: samples

#3938 chore: add translate dev team for translate samples
  CODEOWNERS
Labels: samples

#3939 fix: testing-isolation do not force run all if no packages were found
  .github/cloud-samples-tools/pkg/config/config.go
  .github/cloud-samples-tools/pkg/config/config_test.go
Labels: samples
