Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2025-07, with the labels that each got.

#4122 docs: Update image understanding model
  genai/text-generation/textgen-with-txt-img.js
Labels: samples

#4073 chore(secretmanager): add global samples for delayed destroy
  secret-manager/createSecretWithDelayedDestroy.js
  secret-manager/disableSecretDelayedDestroy.js
  secret-manager/test/secretmanager.test.js
  secret-manager/updateSecretWithDelayedDestroy.js
Labels: api: secretmanager, samples

#4134 feat(secretmanager): Added samples for tags field
  secret-manager/bindTagsToSecret.js
  secret-manager/createSecretWithTags.js
  secret-manager/package.json
  secret-manager/regional_samples/bindTagsToRegionalSecret.js
  secret-manager/regional_samples/createRegionalSecretWithTags.js
  secret-manager/test/secretmanager.test.js
Labels: api: secretmanager, samples

#4118 fix(retail): add region tag for nodejs - Update import products inline source
  retail/interactive-tutorials/product/import-products-inline-source.js
Labels: samples, api: retail

#4119 fix(retail): add region tag for nodejs - Update search with query expansion
  retail/interactive-tutorials/search/search-with-query-expansion-spec.js
Labels: samples, api: retail

#4120 fix(retail): add region tag for node.js - Update add fullfillment places
  retail/interactive-tutorials/product/add-fulfillment-places.js
Labels: samples, api: retail

#4121 fix(retail): add region tag for nodejs - Update remove fulfillment places
  retail/interactive-tutorials/product/remove-fulfillment-places.js
Labels: samples, api: retail

#4126 fix(retail): add region tag for node.js - Update import user events from big query
  retail/interactive-tutorials/events/import-user-events-big-query.js
Labels: samples, api: retail

#4127 fix(retail): add region tag for node.js - Update import user events inline source
  retail/interactive-tutorials/events/import-user-events-inline.js
Labels: samples, api: retail

#4128 fix(retail): add region tag for node.js - Update import user events from gcs
  retail/interactive-tutorials/events/import-user-events-gcs.js
Labels: samples, api: retail

#4129 fix(retail): add region tag for node.js - Update purge user events
  retail/interactive-tutorials/events/purge-user-events.js
Labels: samples, api: retail

#4130 fix(retail): add region tag for node.js - Update rejoin user events
  retail/interactive-tutorials/events/rejoin-user-events.js
Labels: samples, api: retail

#4132 fix(retail): add region tag for node.js - Update search with filtering
  retail/interactive-tutorials/search/search-with-filtering.js
Labels: samples, api: retail

#4138 chore(retail): Correct region tag for consistency
  retail/interactive-tutorials/search/search-with-ordering.js
Labels: samples, api: retail

#4143 fix: Update repository URL
  recaptcha_enterprise/demosite/app/package.json
Labels: api: recaptchaenterprise, samples, asset: flagship
