Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2025-05, with the labels that each got.

#4084 chore: Removing dee-infra from CODEOWNERS and Blunderbuss config files
  CODEOWNERS
Labels: samples

#4086 chore(deps): update custard to 0.3.2
  .github/workflows/custard-ci-dev.yaml
  .github/workflows/custard-ci.yaml
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
Labels: samples, api: workflows

#4087 fix: auth on forked repos
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
Labels: api: run, samples, api: workflows, asset: pattern

#4089 fix: rename service account env var
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
Labels: samples, api: workflows

#4090 fix: pass service account directly to run step
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
Labels: samples, api: workflows

#4091 fix: checkout correct commit on workflow_run jobs
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
Labels: samples, api: workflows

#4092 fix: checkout correct commit on tests
  .github/workflows/custard-run.yaml
Labels: samples, api: workflows

#4093 feat(genai): Add GenAI SDK samples (1)
  genai/count-tokens/counttoken-with-txt.js
  genai/package.json
  genai/test/counttoken-with-txt.test.js
  genai/test/textgen-sys-instr-with-txt.test.js
  genai/test/textgen-with-multi-img.test.js
  genai/test/textgen-with-txt-img.test.js
  genai/test/textgen-with-txt-stream.test.js
  genai/test/textgen-with-txt.test.js
  genai/test/textgen-with-video.test.js
  genai/test/tools-func-desc-with-txt.test.js
  genai/text-generation/textgen-sys-instr-with-txt.js
  genai/text-generation/textgen-with-multi-img.js
  genai/text-generation/textgen-with-txt-img.js
  genai/text-generation/textgen-with-txt-stream.js
  genai/text-generation/textgen-with-txt.js
  genai/text-generation/textgen-with-video.js
  genai/tools/tools-func-desc-with-txt.js
Labels: samples

#4088 fix: remove experimental from forked repo tests
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/custard-ci-dev.yaml
  .github/workflows/custard-ci.yaml
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
  CONTRIBUTING.md
Labels: api: run, samples, api: workflows, asset: pattern

#4052 feat(modelarmor): Added snippet for quickstart
  .github/blunderbuss.yml
  CODEOWNERS
  model-armor/package.json
  model-armor/snippets/quickstart.js
  model-armor/test/.eslintrc.yml
  model-armor/test/modelarmor.test.js
Labels: samples

#4095 Style(secretmanager): Update the region tags to match other languages.
  secret-manager/regional_samples/iamGrantAccessWithRegionalSecret.js
  secret-manager/regional_samples/iamRevokeAccessWithRegionalSecret.js
Labels: api: secretmanager, samples

#4051 feat(modelarmor): Added snippets for sanitization
  model-armor/package.json
  model-armor/snippets/sanitizeModelResponse.js
  model-armor/snippets/sanitizeModelResponseWithUserPrompt.js
  model-armor/snippets/sanitizeUserPrompt.js
  model-armor/snippets/screenPdfFile.js
  model-armor/test/modelarmor.test.js
  model-armor/test/test_sample.pdf
Labels: samples

#4050 feat(modelarmor): Added snippets for creating, listing, updating and deleting templates
  model-armor/snippets/createTemplate.js
  model-armor/snippets/createTemplateWithAdvancedSdp.js
  model-armor/snippets/createTemplateWithBasicSdp.js
  model-armor/snippets/createTemplateWithLabels.js
  model-armor/snippets/createTemplateWithMetadata.js
  model-armor/snippets/deleteTemplate.js
  model-armor/snippets/getTemplate.js
  model-armor/snippets/listTemplates.js
  model-armor/snippets/listTemplatesWithFilter.js
  model-armor/snippets/updateTemplate.js
  model-armor/snippets/updateTemplateLabels.js
  model-armor/snippets/updateTemplateMetadata.js
  model-armor/snippets/updateTemplateWithMaskConfiguration.js
  model-armor/test/modelarmor.test.js
Labels: samples

#4096 feat(genai): Add image generation and code execution examples
  genai/image-generation/imggen-mmflash-with-txt.js
  genai/test/imggen-mmflash-with-txt.test.js
  genai/test/tools-code-exec-with-txt.test.js
  genai/tools/tools-code-exec-with-txt.js
Labels: samples

#4068 feat(parametermanager): Added samples for create, get, list and render global parameter & parameter version
  parametermanager/createParam.js
  parametermanager/createParamVersion.js
  parametermanager/createParamVersionWithSecret.js
  parametermanager/createStructuredParam.js
  parametermanager/createStructuredParamVersion.js
  parametermanager/getParam.js
  parametermanager/getParamVersion.js
  parametermanager/listParamVersions.js
  parametermanager/listParams.js
  parametermanager/package.json
  parametermanager/renderParamVersion.js
  parametermanager/test/.eslintrc.yml
  parametermanager/test/parametermanager.test.js
Labels: samples

#4071 feat(parametermanager): Added samples for kms_key field in parameter manager
  parametermanager/createParamWithKmsKey.js
  parametermanager/package.json
  parametermanager/regional_samples/createRegionalParamWithKmsKey.js
  parametermanager/regional_samples/removeRegionalParamKmsKey.js
  parametermanager/regional_samples/updateRegionalParamKmsKey.js
  parametermanager/removeParamKmsKey.js
  parametermanager/test/.eslintrc.yaml
  parametermanager/test/parametermanager.test.js
  parametermanager/updateParamKmsKey.js
Labels: samples
