Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2025-03, with the labels that each got.

#4000 ci(audit-storage): onboard to testing-isolation
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  eventarc/audit-storage/ci-setup.json
  eventarc/audit-storage/test/deploy.sh
  eventarc/audit-storage/test/runner.sh
Labels: samples, api: eventarc, asset: pattern

#4001 chore: fix flaky tests
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  .github/workflows/speech.yaml
  .github/workflows/talent.yaml
  .github/workflows/translate.yaml
  speech/system-test/recognize.test.js
  translate/ci-setup.json
  translate/test/translate.test.js
  translate/test/v3/translate_translate_text.test.js
  translate/test/v3beta1/translate_translate_text_beta.test.js
Labels: api: speech, samples, api: translate, api: workflows

#4004 ci(metadata, analytics): migrate to new CI
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  appengine/analytics/app.js
  appengine/analytics/package.json
  appengine/analytics/test/app.test.js
  appengine/metadata/flexible/package.json
  appengine/metadata/flexible/server.js
  appengine/metadata/flexible/test/server.test.js
Labels: api: appengine, samples, asset: pattern

#4002 ci(markdown): migrate renderer, editor to new CI
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  run/markdown-preview/editor/ci-setup.json
  run/markdown-preview/editor/package.json
  run/markdown-preview/editor/render.js
  run/markdown-preview/editor/test/app.test.js
  run/markdown-preview/editor/test/e2e_test_cleanup.yaml
  run/markdown-preview/editor/test/e2e_test_setup.yaml
  run/markdown-preview/editor/test/system.test.js
  run/markdown-preview/renderer/ci-setup.json
  run/markdown-preview/renderer/package.json
  run/markdown-preview/renderer/test/e2e_test_cleanup.yaml
  run/markdown-preview/renderer/test/e2e_test_setup.yaml
  run/markdown-preview/renderer/test/system.test.js
Labels: api: run, samples, asset: pattern

#4008 ci(recaptcha): migrate to new CI
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  recaptcha_enterprise/snippets/package.json
  recaptcha_enterprise/snippets/passwordLeakAssessment.js
  recaptcha_enterprise/snippets/tsconfig.json
Labels: api: recaptchaenterprise, samples

#3904 feat: tpu_queued_resources_create/delete_force/delete/get/list
  tpu/package.json
  tpu/queuedResources/createQueuedResource.js
  tpu/queuedResources/deleteQueuedResource.js
  tpu/queuedResources/forceDeleteQueuedResource.js
  tpu/queuedResources/getQueuedResource.js
  tpu/queuedResources/getQueuedResourcesList.js
  tpu/test/forceDeleteQueuedResource.test.js
  tpu/test/queuedResource.test.js
Labels: samples, api: tpu

#3989 feat(parametermanager): created folder to add samples
  .github/blunderbuss.yml
  CODEOWNERS
  parametermanager/README.md
Labels: samples

#4015 chore(gae): Remove older region tags
  appengine/building-an-app/update/server.js
  appengine/building-an-app/update/test/server.test.js
Labels: api: appengine, samples, asset: pattern

#4017 chore(gae): Update region tag
  appengine/building-an-app/update/app.yaml
Labels: api: appengine, samples, asset: pattern

#4019 chore(endpoints): Update region tag
  endpoints/getting-started/openapi.yaml
Labels: samples, api: endpoints

#4009 ci(ocr): migrate to new CI
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  functions/ocr/app/ci-setup.json
  functions/ocr/app/index.js
Labels: api: cloudfunctions, samples, asset: pattern

#3987 ci(imagemagick): add test isolation for functions imagemagick
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  functions/imagemagick/ci-setup.json
  functions/imagemagick/package.json
  functions/imagemagick/test/index.test.js
  functions/v2/imagemagick/ci-setup.json
  functions/v2/imagemagick/test/integration.test.js
Labels: api: cloudfunctions, samples, asset: pattern

#4021 chore: set gcs-sdk-team as CODEOWNERS
  CODEOWNERS
Labels: samples

#4020 chore(endpoints): Update region tag
  endpoints/getting-started/openapi-appengine.yaml
Labels: samples, api: endpoints

#3978 feat(securitycenter): Add Resource SCC Management API Org SHA Custom …
  security-center/snippets/management_api/deleteSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/management_api/listDescendantSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/management_api/listEffectiveSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/management_api/listSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/management_api/simulateSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/system-test/management_api/securityHealthAnalyticsCustomModule.test.js
Labels: api: securitycenter, samples

#3968 ci: enable new CI for vision package
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  .github/workflows/vision.yaml
  vision/system-test/detect.test.js
  vision/system-test/quickstart.test.js
Labels: api: vision, samples

#4023 feat(bigquery): add samples for control access 1/3
  bigquery/cloud-client/grantAccessToDataset.js
  bigquery/cloud-client/grantAccessToTableOrView.js
  bigquery/cloud-client/package.json
  bigquery/cloud-client/test/config.js
  bigquery/cloud-client/test/grantAccessToDataset.test.js
  bigquery/cloud-client/test/grantAccessToTableOrView.test.js
Labels: api: bigquery, samples

#3950 feat(secret-manager): add optional ttl field to createSecret function
  secret-manager/createSecret.js
  secret-manager/test/secretmanager.test.js
Labels: api: secretmanager, samples

#4028 feat(tpu): Updating TPU samples to use TPUv5e
  tpu/createStartupScriptVM.js
  tpu/createTopologyVM.js
  tpu/createVM.js
  tpu/queuedResources/createQueuedResource.js
  tpu/queuedResources/deleteQueuedResource.js
  tpu/queuedResources/forceDeleteQueuedResource.js
  tpu/queuedResources/getQueuedResource.js
  tpu/queuedResources/getQueuedResourcesList.js
  tpu/test/forceDeleteQueuedResource.test.js
  tpu/test/queuedResource.test.js
Labels: samples, api: tpu

#4025 feat(bigquery): Add samples for control access 3/3
  bigquery/cloud-client/test/viewDatasetAccessPolicy.test.js
  bigquery/cloud-client/test/viewTableOrViewAccessPolicy.test.js
  bigquery/cloud-client/viewDatasetAccessPolicy.js
  bigquery/cloud-client/viewTableOrViewAccessPolicy.js
Labels: api: bigquery, samples

#4024 feat(bigquery): Add samples for control access 2/3
  bigquery/cloud-client/revokeDatasetAccess.js
  bigquery/cloud-client/revokeTableOrViewAccess.js
  bigquery/cloud-client/test/revokeDatasetAccess.test.js
  bigquery/cloud-client/test/revokeTableOrViewAccess.test.js
Labels: api: bigquery, samples

#4031 chore(cloudrun): migrate region tag "cloudrun_imageproc_dockerfile_imagemagick"
  run/image-processing/Dockerfile
Labels: api: run, samples, asset: pattern

#4033 chore(endpoints): Remove older region tags
  endpoints/getting-started/app.js
Labels: samples, api: endpoints

#4042 fix: correct ignored filename extensions
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
Labels: samples

#4037 fix: ensure all retry.sh failures fail exit 1
  run/markdown-preview/editor/test/retry.sh
  run/markdown-preview/editor/test/system.test.js
  run/markdown-preview/renderer/test/retry.sh
  run/markdown-preview/renderer/test/system.test.js
Labels: api: run, samples, asset: pattern

#4039 fix: remove unneeded proxy
  run/idp-sql/package.json
  run/idp-sql/test/proxy-setup.sh
Labels: api: run, samples, asset: pattern

#4045 chore(gae): Migrate region tags from build-an-app
  appengine/building-an-app/build/app.yaml
  appengine/building-an-app/build/test/server.test.js
  appengine/building-an-app/update/app.yaml
Labels: api: appengine, samples, asset: pattern

#4044 chore(cloudrun): Remove older region tag
  run/image-processing/Dockerfile
Labels: api: run, samples, asset: pattern

#4048 chore(gae): Remove older region tags
  appengine/building-an-app/build/app.yaml
  appengine/building-an-app/update/app.yaml
Labels: api: appengine, samples, asset: pattern

#4040 chore(ci): migrate mysql/mysql + proof of concept proxy helper
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  .github/workflows/utils/sql-proxy.sh
  cloud-sql/mysql/mysql/ci-setup.json
  cloud-sql/mysql/mysql/package.json
Labels: api: cloudsql, samples, asset: pattern
