Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2025-02, with the labels that each got.

#3963 feat(securitycenter): Add Resource SCC Management API Org ETD custom …
  security-center/snippets/management_api/getEffectiveEventThreatDetectionCustomModule.js
  security-center/snippets/management_api/listDescendantEventThreatDetectionCustomModules.js
  security-center/snippets/management_api/listEffectiveEventThreatDetectionCustomModules.js
  security-center/snippets/management_api/validateEventThreatDetectionCustomModule.js
  security-center/snippets/system-test/management_api/eventThreatDetectionCustomModule.test.js
Labels: api: securitycenter, samples

#3964 chore(cloudfunctions): remove unused functions/speech-to-speech sample app
  .github/config/nodejs-dev.jsonc
  .github/workflows/functions-speech-to-speech-functions.yaml
  .github/workflows/utils/workflows.json
  .kokoro/build.sh
  functions/speech-to-speech/.firebaserc
  functions/speech-to-speech/.gcloudignore
  functions/speech-to-speech/.gitignore
  functions/speech-to-speech/.nvmrc
  functions/speech-to-speech/README.md
  functions/speech-to-speech/firebase.json
  functions/speech-to-speech/functions/index.js
  functions/speech-to-speech/functions/package.json
  functions/speech-to-speech/functions/test/index.test.js
  functions/speech-to-speech/functions/test/request-body.json
  functions/speech-to-speech/functions/test/speech-recording.b64
  functions/speech-to-speech/functions/test/speech-recording.wav
Labels: api: cloudfunctions, samples, asset: pattern

#3967 chore(cloudrun): migrate region tag "cloudrun_pubsub_dockerfile" from run/pubsub/Dockerfile
  run/pubsub/Dockerfile
Labels: api: run, samples, asset: pattern

#3965 chore(appengine): remove older region tag
  appengine/building-an-app/update/server.js
  appengine/building-an-app/update/test/server.test.js
Labels: api: appengine, samples, asset: pattern

#3962 chore: (endpoints) update region tag in endpoints/getting-started/app.js
  endpoints/getting-started/app.js
Labels: samples, api: endpoints

#3973 chore(endpoints): remove older region tags
  endpoints/getting-started/app.js
Labels: samples, api: endpoints

#3971 chore: (speech) update region tag setup in speech/profanityFilter.js
  speech/profanityFilter.js
Labels: api: speech, samples

#3970 chore: (endpoints) update region tag in endpoints/getting-started/app.js
  endpoints/getting-started/app.js
Labels: samples, api: endpoints

#3972 chore(cloudrun): remove older region tags
  run/pubsub/Dockerfile
Labels: api: run, samples, asset: pattern

#3956 fix: (appengine) update region tag in appengine/websockets/app.js & appengine/websockets/views/index.pug
  appengine/websockets/app.js
  appengine/websockets/test/index.test.js
  appengine/websockets/views/index.pug
Labels: api: appengine, samples, asset: pattern

#3952 feat(securitycenter): Add Resource SCC Management API Org SHA Custom …
  security-center/snippets/management_api/createSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/management_api/getEffectiveSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/management_api/getSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/management_api/updateSecurityHealthAnalyticsCustomModule.js
  security-center/snippets/system-test/management_api/securityHealthAnalyticsCustomModule.test.js
  security-center/snippets/system-test/v1/findings.test.js
  security-center/snippets/v1/listFindingsAtTime.js
Labels: api: securitycenter, samples

#3977 feat: test-isolation env var interpolation
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  .github/scripts/cli/vars.js
  .github/scripts/nodejs-test.sh
  .github/scripts/package.json
  .github/scripts/setup-vars.js
  .github/scripts/setup-vars.test.js
  .github/workflows/ci-dev.yaml
  .github/workflows/ci-prod.yaml
  .github/workflows/ci-scripts.yaml
  generative-ai/snippets/test/count-tokens/countTokensAdvanced.test.js
  healthcare/dicom/ci-setup.json
  media/transcoder/ci-setup.json
Labels: api: dlp, samples, api: workflows

#3982 feat: use external cloud-samples-tools repo
  .github/cloud-samples-tools/.gitignore
  .github/cloud-samples-tools/README.md
  .github/cloud-samples-tools/cmd/main.go
  .github/cloud-samples-tools/go.mod
  .github/cloud-samples-tools/pkg/config/config.go
  .github/cloud-samples-tools/pkg/config/config_test.go
  .github/cloud-samples-tools/pkg/config/testdata/config/comments.jsonc
  .github/cloud-samples-tools/pkg/config/testdata/config/default-values.json
  .github/cloud-samples-tools/pkg/config/testdata/config/empty.json
  .github/cloud-samples-tools/pkg/config/testdata/excluded/package.json
  .github/cloud-samples-tools/pkg/config/testdata/my-package/package.json
  .github/cloud-samples-tools/pkg/config/testdata/my-package/subpackage/package.json
  .github/cloud-samples-tools/pkg/config/testdata/setup/defaults/ci-setup.json
  .github/cloud-samples-tools/pkg/config/testdata/setup/defaults/package.json
  .github/cloud-samples-tools/pkg/config/testdata/setup/empty/package.json
  .github/cloud-samples-tools/pkg/config/testdata/setup/override/ci-setup.json
  .github/cloud-samples-tools/pkg/config/testdata/setup/override/package.json
  .github/cloud-samples-tools/pkg/config/utils.go
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  .github/workflows/ci-dev.yaml
  .github/workflows/ci-prod.yaml
  .github/workflows/cloud-samples-tools-test.yaml
Labels: samples, api: workflows

#3983 fix(ci): don't run all tests on exclusions change
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
Labels: samples

#3979 chore(datacatalog): add information about deprecation of Data Catalog
  datacatalog/README.md
Labels: api: datacatalog, samples

#3986 ci(appengine): add metadata/standard to testing isolation
  .github/config/nodejs-prod.jsonc
  appengine/metadata/standard/package.json
  appengine/metadata/standard/server.js
  appengine/metadata/standard/test/server.test.js
Labels: api: appengine, samples, asset: pattern

#3995 ci: rename testing diff tool to: custard
  .github/workflows/ci-dev.yaml
  .github/workflows/ci-prod.yaml
Labels: samples, api: workflows

#3996 docs: document setup files
  .github/config/README.md
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
Labels: samples

#3994 Add default environment variable and secret
  .github/scripts/setup-vars.js
  .github/scripts/setup-vars.test.js
  .github/workflows/ci-dev.yaml
  .github/workflows/ci-prod.yaml
  run/helloworld/ci-setup.json
  run/helloworld/package.json
  run/helloworld/test/e2e_test_cleanup.yaml
  run/helloworld/test/e2e_test_setup.yaml
  run/helloworld/test/system.test.js
Labels: samples, api: workflows, api: eventarc, asset: pattern

#3997 docs: add new envvar/secret docs, incl ID_TOKEN usage
  .github/config/README.md
Labels: samples

#3992 ci(run/system-package): onboard to new testing
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  run/system-package/Dockerfile
  run/system-package/ci-setup.json
  run/system-package/package.json
  run/system-package/test/app.test.js
  run/system-package/test/e2e_test_cleanup.yaml
  run/system-package/test/e2e_test_setup.yaml
  run/system-package/test/system.test.js
Labels: api: run, samples, asset: pattern

#3988 ci(eventarc): onboard pubsub sample to testing isolation
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  eventarc/pubsub/ci-setup.json
  eventarc/pubsub/test/deploy.sh
  eventarc/pubsub/test/runner.sh
Labels: samples, api: eventarc, asset: pattern

#3999 ci: include custard name in job names
  .github/workflows/ci-dev.yaml
  .github/workflows/ci-prod.yaml
Labels: samples, api: workflows
