Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2025-06, with the labels that each got.

#4106 fix(retail): add region tag for JS- Update SearchwithPagination
  retail/interactive-tutorials/search/search-simple-query.js
  retail/interactive-tutorials/search/search-with-pagination.js
Labels: samples, api: retail

#4069 feat(parametermanager): Added samples for create, get, list and render regional parameter & parameter version
  parametermanager/regional_samples/createRegionalParam.js
  parametermanager/regional_samples/createRegionalParamVersion.js
  parametermanager/regional_samples/createRegionalParamVersionWithSecret.js
  parametermanager/regional_samples/createStructuredRegionalParam.js
  parametermanager/regional_samples/createStructuredRegionalParamVersion.js
  parametermanager/regional_samples/getRegionalParam.js
  parametermanager/regional_samples/getRegionalParamVersion.js
  parametermanager/regional_samples/listRegionalParamVersions.js
  parametermanager/regional_samples/listRegionalParams.js
  parametermanager/regional_samples/renderRegionalParamVersion.js
  parametermanager/test/parametermanager.test.js
Labels: samples, waiting-for-response

#4113 fix(retail): add region tag for JS - Update get-product.js
  retail/interactive-tutorials/product/get-product.js
Labels: samples, api: retail

#4110 fix(retail): add region tag for JS - Update deleteproduct.js
  retail/interactive-tutorials/product/delete-product.js
Labels: samples, api: retail

#4109 fix(retail): add region tag for JS - Update upate-product.js
  retail/interactive-tutorials/product/update-product.js
Labels: samples, api: retail

#4114 fix: standardize getSecret sample
  secret-manager/getSecret.js
  secret-manager/test/secretmanager.test.js
Labels: api: secretmanager, samples
