Repository GoogleCloudPlatform/nodejs-docs-samples, pull requests merged in 2025-04, with the labels that each got.

#4055 chore(cloud-sql): migrate mysql, postgres samples to new CI
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs-prod.jsonc
  cloud-sql/mysql/mysql2/ci-setup.json
  cloud-sql/mysql/mysql2/index.js
  cloud-sql/mysql/mysql2/package.json
  cloud-sql/postgres/knex/ci-setup.json
  cloud-sql/postgres/knex/package.json
Labels: api: cloudsql, samples, asset: pattern

#4047 chore(compute): Migrate region tag
  compute/sendgrid.js
Labels: kokoro:force-run, api: compute, samples

#4062 chore(compute): Delete older region tag (compute_send)
  compute/sendgrid.js
Labels: api: compute, samples

#4057 feat: support testing on forked repos
  .github/config/nodejs.jsonc
  .github/workflows/custard-ci-dev.yaml
  .github/workflows/custard-ci.yaml
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
Labels: samples, api: workflows

#4063 fix: add id-token to workflows
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
Labels: samples, api: workflows

#4064 chore: update the minimum language based on maintenance mode
  README.md
Labels: samples

#4075 chore: update custard to v0.2.5
  .github/workflows/custard-ci-dev.yaml
  .github/workflows/custard-ci.yaml
  .github/workflows/custard-run-dev.yaml
  .github/workflows/custard-run.yaml
Labels: samples, api: workflows

#4074 chore(translate): rename region tag, delete unused region tags, and add link to supported MIME types.
  translate/v3/translate_translate_text.js
Labels: kokoro:force-run, samples, api: translate

#4077 chore(grpc): migrate from grpc to @grpc/grpc-js in getting-started-grpc example
  endpoints/getting-started-grpc/README.md
  endpoints/getting-started-grpc/client.js
  endpoints/getting-started-grpc/package.json
  endpoints/getting-started-grpc/server.js
Labels: samples, api: endpoints

#4066 chore(ci): migrate sqlserver/mssql sample to new ci
  .github/config/nodejs-dev.jsonc
  .github/config/nodejs.jsonc
  cloud-sql/sqlserver/mssql/ci-setup.json
  cloud-sql/sqlserver/mssql/package.json
Labels: api: cloudsql, samples, asset: pattern

#4078 chore: remove old code samples
  ai-platform/snippets/imagen-verify-image-watermark.js
  ai-platform/snippets/test/imagen.test.js
Labels: samples, api: aiplatform
