Repository GoogleCloudPlatform/nodejs-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @fhinkel, @michaelawyu, @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers, @djmailhot, @ricalo, @ericschmidtatwork, @jsimonweb, @nnegrey, @benwhitehead, @kurtisvg, @leahecole, @sofisl, @noerog, @gguuss, @happyhuman

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Repo owner
* @fhinkel

# Kokoro
.kokoro @fhinkel
.kokoro/appengine @michaelawyu
.kokoro/functions @ace-n @grant

# Serverless/CBR
appengine @michaelawyu
functions @ace-n @grant
run @GoogleCloudPlatform/cdpe-cbr-containers

# Other functions samples
functions/scheduleinstance @djmailhot
functions/speech-to-speech @ricalo
functions/memorystore @ericschmidtatwork
functions/spanner @jsimonweb
functions/tokenservice @nnegrey

# GCF samples outside of functions/
datastore/functions @benwhitehead

# One-offs
cloud-sql @kurtisvg
composer @leahecole @sofisl
healthcare @noerog
iot @gguuss
jobs @happyhuman

ADD log line to troubleshoot build
  datacatalog/cloud-client/system-test/searchCatalogOrg.test.js
  datacatalog/cloud-client/system-test/searchCatalogProject.test.js
Owners: @fhinkel

ADD improve log
  datacatalog/cloud-client/system-test/searchCatalogOrg.test.js
  datacatalog/cloud-client/system-test/searchCatalogProject.test.js
Owners: @fhinkel

Update index.js
  functions/billing/index.js
Owners: @ace-n, @grant

Update NodeJS billing sample code (#1892)
  functions/billing/index.js
Owners: @ace-n, @grant

Fix endpoint syntax
  run/markdown-preview/editor/test/system.test.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Fix system test (#1893)
  run/markdown-preview/editor/test/system.test.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

chore: update tests to current LTS Node 12
  .kokoro/cloud-tasks/common.cfg
  .kokoro/common.cfg
  .kokoro/composer/common.cfg
  .kokoro/iot/common.cfg
  .kokoro/run/common.cfg
Owners: @fhinkel, @leahecole, @sofisl, @gguuss, @GoogleCloudPlatform/cdpe-cbr-containers

Remove node 8 samples
  functions/node8/.eslintrc.yml
  functions/node8/.gcloudignore
  functions/node8/index.js
  functions/node8/package.json
  functions/node8/test/index.test.js
  functions/node8/test/sample.unit.pubsub.test.js
  functions/node8/test/sample.unit.storage.test.js
Owners: @ace-n, @grant

Update engines to Node 10
  functions/background/package.json
  functions/billing/package.json
  functions/concepts/package.json
  functions/env_vars/package.json
  functions/firebase/package.json
  functions/helloworld/package.json
  functions/http/package.json
  functions/imagemagick/package.json
  functions/log/package.json
  functions/memorystore/redis/package.json
  functions/ocr/app/package.json
  functions/pubsub/package.json
  functions/scheduleinstance/package.json
  functions/security/package.json
  functions/sendgrid/package.json
  functions/slack/package.json
  functions/spanner/package.json
  functions/tips/package.json
  functions/tokenservice/functions/package.json
Owners: @ace-n, @grant, @ericschmidtatwork, @djmailhot, @jsimonweb, @nnegrey

Upgrade Node version in Kokoro
  .kokoro/functions/common.cfg
Owners: @ace-n, @grant

Fix tests
  functions/ocr/app/package.json
  functions/tips/test/index.test.js
Owners: @ace-n, @grant

Take 2 of Kokoro version upgrade
  .kokoro/datastore-functions.cfg
  .kokoro/functions/billing-periodic.cfg
  .kokoro/functions/imagemagick.cfg
  .kokoro/functions/ocr-app.cfg
Owners: @fhinkel, @ace-n, @grant

Functions: remove node 8 samples (#1896)
  .kokoro/datastore-functions.cfg
  .kokoro/functions/billing-periodic.cfg
  .kokoro/functions/common.cfg
  .kokoro/functions/imagemagick.cfg
  .kokoro/functions/ocr-app.cfg
  functions/background/package.json
  functions/billing/package.json
  functions/concepts/package.json
  functions/env_vars/package.json
  functions/firebase/package.json
  functions/helloworld/package.json
  functions/http/package.json
  functions/imagemagick/package.json
  functions/log/package.json
  functions/memorystore/redis/package.json
  functions/node8/.eslintrc.yml
  functions/node8/.gcloudignore
  functions/node8/index.js
  functions/node8/package.json
  functions/node8/test/index.test.js
  functions/node8/test/sample.unit.pubsub.test.js
  functions/node8/test/sample.unit.storage.test.js
  functions/ocr/app/package.json
  functions/pubsub/package.json
  functions/scheduleinstance/package.json
  functions/security/package.json
  functions/sendgrid/package.json
  functions/slack/package.json
  functions/spanner/package.json
  functions/tips/package.json
  functions/tips/test/index.test.js
  functions/tokenservice/functions/package.json
Owners: @fhinkel, @ace-n, @grant, @ericschmidtatwork, @djmailhot, @jsimonweb, @nnegrey

Do not update cloud run
  .kokoro/run/common.cfg
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

chore: update to Node 10 in datastore-functions
  .kokoro/datastore-functions.cfg
Owners: @fhinkel

chore: update to Node 10 in datastore-functions (#1897)
  .kokoro/datastore-functions.cfg
Owners: @fhinkel

chore: update to Node 10 in functions/tokenservice
  .kokoro/functions/tokenservice.cfg
Owners: @ace-n, @grant

chore: update to Node 10 in functions/tokenservice (#1898)
  .kokoro/functions/tokenservice.cfg
Owners: @ace-n, @grant

chore(deps): update dependency @google-cloud/logging to v8
  functions/log/package.json
  run/logging-manual/package.json
Owners: @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency @google-cloud/datastore to v6
  appengine/datastore/package.json
  datastore/functions/package.json
Owners: @michaelawyu, @benwhitehead

chore(deps): update dependency @google-cloud/logging to v8 (#1885)
  functions/log/package.json
  run/logging-manual/package.json
Owners: @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency @google-cloud/datastore to v6 (#1886)
  appengine/datastore/package.json
  datastore/functions/package.json
Owners: @michaelawyu, @benwhitehead

fix(deps): update dependency @google-cloud/vision to v2
  functions/imagemagick/package.json
  run/image-processing/package.json
Owners: @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency @google-cloud/vision to v2 (#1888)
  functions/imagemagick/package.json
  run/image-processing/package.json
Owners: @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency @google-cloud/text-to-speech to v3
  functions/speech-to-speech/functions/package.json
Owners: @ricalo

fix(deps): update dependency @google-cloud/bigquery to v5
  functions/sendgrid/package.json
Owners: @ace-n, @grant

fix(deps): update dependency @google-cloud/text-to-speech to v3 (#1887)
  functions/speech-to-speech/functions/package.json
Owners: @ricalo

fix(deps): update dependency @google-cloud/bigquery to v5 (#1899)
  functions/sendgrid/package.json
Owners: @ace-n, @grant

fix(deps): update dependency @google-cloud/pubsub to v2 (#1858)
  functions/helloworld/package.json
  functions/pubsub/package.json
  functions/tips/package.json
Owners: @ace-n, @grant

fix(samples): include locations/global in parent field (#488)
  dlp/deid.js
  dlp/inspect.js
  dlp/jobs.js
  dlp/quickstart.js
  dlp/redact.js
  dlp/risk.js
  dlp/system-test/jobs.test.js
  dlp/system-test/templates.test.js
  dlp/system-test/triggers.test.js
  dlp/templates.js
  dlp/triggers.js
Owners: @fhinkel

Adds Run Events GCS Trigger Sample (#1884)
  run/README.md
  run/events-storage/.dockerignore
  run/events-storage/Dockerfile
  run/events-storage/README.md
  run/events-storage/app.js
  run/events-storage/index.js
  run/events-storage/package.json
  run/events-storage/test/app.test.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

chore(deps): update dependency mocha to v8
  run/events-storage/package.json
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

test: added an expo back off to prevent RESOURCE_EXHAUSTED exception (#630)
  dialogflow/resources/output.wav
  dialogflow/system-test/list-session-entity-types.test.js
  dialogflow/system-test/util.js
Owners: @fhinkel

chore(deps): update dependency mocha to v8 (#1901)
  run/events-storage/package.json
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency @google-cloud/firestore to v4
  functions/firebase/package.json
Owners: @ace-n, @grant

chore: update tests to current LTS Node 12 (#1895)
  .kokoro/cloud-tasks/common.cfg
  .kokoro/common.cfg
  .kokoro/composer/common.cfg
  .kokoro/iot/common.cfg
Owners: @fhinkel, @leahecole, @sofisl, @gguuss

run: events pubsub brushup
  run/events-storage/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

run: events readme brushup
  run/events-storage/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Update run/events-storage/README.md
  run/events-storage/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Update index.js
  functions/billing/index.js
Owners: @ace-n, @grant
