Repository GoogleCloudPlatform/nodejs-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/nodejs-samples-reviewers, @GoogleCloudPlatform/nodejs-docs-samples-owners, @GoogleCloudPlatform/torus-dpe, @GoogleCloudPlatform/functions-framework-google, @GoogleCloudPlatform/dee-infra, @GoogleCloudPlatform/dee-platform-ops, @askmeegs, @ricalo, @GoogleCloudPlatform/infra-db-dpes, @GoogleCloudPlatform/cloud-native-db-dpes, @leahecole, @sofisl, @noerog, @GoogleCloudPlatform/dee-data-ai, @GoogleCloudPlatform/googleapis-dlp, @GoogleCloudPlatform/cloud-retail-team, @GoogleCloudPlatform/cloud-media-team

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Repo owner
* @GoogleCloudPlatform/nodejs-samples-reviewers 

# Kokoro
.kokoro @GoogleCloudPlatform/nodejs-docs-samples-owners
.kokoro/appengine @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-docs-samples-owners
.kokoro/functions @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-docs-samples-owners

# Serverless, Orchestration, DevOps
appengine @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-samples-reviewers
functions @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/functions-framework-google @GoogleCloudPlatform/nodejs-samples-reviewers
run @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-samples-reviewers
scheduler @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-samples-reviewers
cloud-tasks @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-samples-reviewers
workflows @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-samples-reviewers
eventarc @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-samples-reviewers
cloudbuild @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-samples-reviewers
container-analysis @GoogleCloudPlatform/torus-dpe @GoogleCloudPlatform/nodejs-samples-reviewers

# Infrastructure
asset @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
auth @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
batch @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
compute @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
iam @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
kms @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
orgpolicy @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
recaptcha @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
secret-manager @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
security-center @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
service-directory @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
webrisk @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers
dlp @GoogleCloudPlatform/dee-infra @GoogleCloudPlatform/nodejs-samples-reviewers

# DEE Platform Ops (DEEPO)
container @GoogleCloudPlatform/dee-platform-ops @GoogleCloudPlatform/nodejs-samples-reviewers
error-reporting @GoogleCloudPlatform/dee-platform-ops @GoogleCloudPlatform/nodejs-samples-reviewers
game-servers @GoogleCloudPlatform/dee-platform-ops @GoogleCloudPlatform/nodejs-samples-reviewers
monitoring @GoogleCloudPlatform/dee-platform-ops @GoogleCloudPlatform/nodejs-samples-reviewers

# Other functions samples
functions/scheduleinstance @askmeegs @GoogleCloudPlatform/nodejs-samples-reviewers
functions/speech-to-speech @ricalo @GoogleCloudPlatform/nodejs-samples-reviewers 
functions/memorystore @GoogleCloudPlatform/nodejs-samples-reviewers
functions/spanner @GoogleCloudPlatform/nodejs-samples-reviewers

# SoDa teams
cloud-sql @GoogleCloudPlatform/infra-db-dpes @GoogleCloudPlatform/nodejs-samples-reviewers
datastore @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/nodejs-samples-reviewers
storagetransfer @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/nodejs-samples-reviewers

# One-offs
composer @leahecole @sofisl @GoogleCloudPlatform/nodejs-samples-reviewers
healthcare @noerog @GoogleCloudPlatform/nodejs-samples-reviewers
monitoring/opencensus @GoogleCloudPlatform/nodejs-samples-reviewers

# Data & AI
ai-platform @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
automl @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
cloud-language @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
contact-center-insights @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
datalabeling @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
dialogflow @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
dialogflow-cx @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
document-ai @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
mediatranslation @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
notebooks @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
speech @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
talent @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
texttospeech @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
translate @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
video-intelligence @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers
vision @GoogleCloudPlatform/dee-data-ai @GoogleCloudPlatform/nodejs-samples-reviewers

# Self-service
dlp @GoogleCloudPlatform/googleapis-dlp @GoogleCloudPlatform/nodejs-samples-reviewers
retail @GoogleCloudPlatform/cloud-retail-team @GoogleCloudPlatform/nodejs-samples-reviewers
media @GoogleCloudPlatform/cloud-media-team @GoogleCloudPlatform/nodejs-samples-reviewers

fix(deps): update dependency googleapis to v112
  functions/billing/package.json
Owners: @GoogleCloudPlatform/torus-dpe, @GoogleCloudPlatform/functions-framework-google, @GoogleCloudPlatform/nodejs-samples-reviewers

fix(deps): update dependency googleapis to v112 (#3063)
  functions/billing/package.json
Owners: @GoogleCloudPlatform/torus-dpe, @GoogleCloudPlatform/functions-framework-google, @GoogleCloudPlatform/nodejs-samples-reviewers

update sample and testcase
  recaptcha/snippets/passwordLeakAssessment.ts
  recaptcha/snippets/test/passwordleak.test.ts
Owners: @GoogleCloudPlatform/dee-infra, @GoogleCloudPlatform/nodejs-samples-reviewers

fix: delete test DLP jobs created in snippets
  dlp/categoricalRiskAnalysis.js
  dlp/kAnonymityAnalysis.js
  dlp/kMapEstimationAnalysis.js
  dlp/lDiversityAnalysis.js
  dlp/numericalRiskAnalysis.js
  dlp/system-test/inspect.test.js
  dlp/system-test/risk.test.js
Owners: @GoogleCloudPlatform/googleapis-dlp, @GoogleCloudPlatform/nodejs-samples-reviewers

🦉 Updates from OwlBot post-processor
  dlp/categoricalRiskAnalysis.js
  dlp/kAnonymityAnalysis.js
  dlp/kMapEstimationAnalysis.js
  dlp/lDiversityAnalysis.js
  dlp/numericalRiskAnalysis.js
  dlp/system-test/inspect.test.js
  dlp/system-test/risk.test.js
Owners: @GoogleCloudPlatform/googleapis-dlp, @GoogleCloudPlatform/nodejs-samples-reviewers

lint fix
  dlp/categoricalRiskAnalysis.js
  dlp/kAnonymityAnalysis.js
  dlp/kMapEstimationAnalysis.js
  dlp/lDiversityAnalysis.js
  dlp/numericalRiskAnalysis.js
  dlp/system-test/inspect.test.js
  dlp/system-test/risk.test.js
Owners: @GoogleCloudPlatform/googleapis-dlp, @GoogleCloudPlatform/nodejs-samples-reviewers

fix assertion
  dlp/system-test/inspect.test.js
  dlp/system-test/risk.test.js
Owners: @GoogleCloudPlatform/googleapis-dlp, @GoogleCloudPlatform/nodejs-samples-reviewers

updated test resource configuration and removed assert from failure cases
  dlp/system-test/inspect.test.js
Owners: @GoogleCloudPlatform/googleapis-dlp, @GoogleCloudPlatform/nodejs-samples-reviewers

removed assert from failure cases
  dlp/system-test/risk.test.js
Owners: @GoogleCloudPlatform/googleapis-dlp, @GoogleCloudPlatform/nodejs-samples-reviewers

lint fix
  dlp/system-test/risk.test.js
Owners: @GoogleCloudPlatform/googleapis-dlp, @GoogleCloudPlatform/nodejs-samples-reviewers
