Repository GoogleCloudPlatform/nodejs-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @fhinkel, @michaelawyu, @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers, @djmailhot, @ricalo, @ericschmidtatwork, @jsimonweb, @nnegrey, @benwhitehead, @kurtisvg, @leahecole, @sofisl, @noerog, @gguuss, @happyhuman

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Repo owner
* @fhinkel

# Kokoro
.kokoro @fhinkel
.kokoro/appengine @michaelawyu
.kokoro/functions @ace-n @grant

# Serverless/CBR
appengine @michaelawyu
functions @ace-n @grant
run @GoogleCloudPlatform/cdpe-cbr-containers

# Other functions samples
functions/scheduleinstance @djmailhot
functions/speech-to-speech @ricalo
functions/memorystore @ericschmidtatwork
functions/spanner @jsimonweb
functions/tokenservice @nnegrey

# GCF samples outside of functions/
datastore/functions @benwhitehead

# One-offs
cloud-sql @kurtisvg
composer @leahecole @sofisl
healthcare @noerog
iot @gguuss
jobs @happyhuman

Update run/README.md
  run/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Update run/markdown-preview/editor/render.js
  run/markdown-preview/editor/render.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Update name to designate editor service.
  run/markdown-preview/editor/package.json
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Update run/README.md
  run/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

refactor(run/markdown-preview): improve local testing and CI flakiness (#1938)
  .kokoro/build-with-run.sh
  run/README.md
  run/markdown-preview/editor/Dockerfile
  run/markdown-preview/editor/app.js
  run/markdown-preview/editor/index.js
  run/markdown-preview/editor/package.json
  run/markdown-preview/editor/render.js
  run/markdown-preview/editor/test/app.test.js
  run/markdown-preview/editor/test/deploy.sh
  run/markdown-preview/editor/test/render.test.js
  run/markdown-preview/editor/test/runner.sh
  run/markdown-preview/editor/test/system.test.js
  run/markdown-preview/renderer/Dockerfile
  run/markdown-preview/renderer/app.js
  run/markdown-preview/renderer/index.js
  run/markdown-preview/renderer/package.json
  run/markdown-preview/renderer/test/app.test.js
Owners: @fhinkel, @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency googleapis to v58
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

fix(deps): update dependency googleapis to v58 (#1936)
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

Cloud Run Hello World
  run/README.md
  run/helloworld/.gcloudignore
  run/helloworld/Dockerfile
  run/helloworld/README.md
  run/helloworld/index.js
  run/helloworld/package.json
  run/helloworld/test/deploy.sh
  run/helloworld/test/runner.sh
  run/helloworld/test/system.test.js
  run/helloworld/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Add kokoro file
  .kokoro/run/helloworld.cfg
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Dockerfile removed from gcloudignore
  run/helloworld/.gcloudignore
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Add ignore files
  run/helloworld/.dockerignore
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Readded Puppeteer tests + configured the tests to run with Puppeteer compatible images
  .kokoro/appengine/node10/websockets.cfg
  .kokoro/appengine/node12/websockets.cfg
  appengine/websockets/package.json
  appengine/websockets/test/index.test.js
Owners: @michaelawyu

chore(functions): remove redundant logging sample
  functions/log/package.json
  functions/log/test/index.test.js
Owners: @ace-n, @grant

nit: rm identical test
  functions/log/test/index.test.js
Owners: @ace-n, @grant

Add file I got to save...oops!
  functions/log/index.js
Owners: @ace-n, @grant

fix(run/markdown-preview): region tags should encompass imports
  run/markdown-preview/editor/render.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Add region tag
  run/helloworld/index.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

fix(run/markdown-preview): region tags should encompass imports (#1941)
  run/markdown-preview/editor/render.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

fix: standardize run events pub/sub message
  run/events-pubsub/app.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Update testing
  run/helloworld/index.js
  run/helloworld/package.json
  run/helloworld/test/index.test.js
  run/helloworld/test/runner.sh
  run/helloworld/test/system.test.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Update testing
  run/helloworld/index.js
  run/helloworld/package.json
  run/helloworld/test/index.test.js
  run/helloworld/test/runner.sh
  run/helloworld/test/system.test.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Setup tests and applied minor fixes for the App Engine Websockets sample (#1865)
  .kokoro/appengine/node10/websockets.cfg
  .kokoro/appengine/node12/websockets.cfg
  appengine/websockets/app.js
  appengine/websockets/package.json
  appengine/websockets/test/app.test.js
  appengine/websockets/test/index.test.js
Owners: @michaelawyu

Cloud Run Hello World (#1939)
  .kokoro/run/helloworld.cfg
  run/README.md
  run/helloworld/.dockerignore
  run/helloworld/.gcloudignore
  run/helloworld/Dockerfile
  run/helloworld/README.md
  run/helloworld/index.js
  run/helloworld/package.json
  run/helloworld/test/deploy.sh
  run/helloworld/test/index.test.js
  run/helloworld/test/runner.sh
  run/helloworld/test/system.test.js
  run/helloworld/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

docs(run): Reflow index and remove knative reference
  run/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

docs(run): remove accidental run-button link in name column
  run/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

run: update to Node.js 12
  .kokoro/run/common.cfg
  run/events-pubsub/Dockerfile
  run/events-pubsub/package.json
  run/events-storage/Dockerfile
  run/events-storage/package.json
  run/hello-broken/Dockerfile
  run/helloworld/Dockerfile
  run/image-processing/Dockerfile
  run/image-processing/package.json
  run/logging-manual/Dockerfile
  run/pubsub/Dockerfile
  run/pubsub/package.json
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

run: update to Node.js 12 (#1944)
  .kokoro/run/common.cfg
  run/events-pubsub/Dockerfile
  run/events-pubsub/package.json
  run/events-storage/Dockerfile
  run/events-storage/package.json
  run/hello-broken/Dockerfile
  run/helloworld/Dockerfile
  run/image-processing/Dockerfile
  run/image-processing/package.json
  run/logging-manual/Dockerfile
  run/pubsub/Dockerfile
  run/pubsub/package.json
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

docs(run): Reflow index and remove knative reference (#1943)
  run/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Add Cloud Healthcare API to Kokoro testing pipeline
  .kokoro/healthcare/common.cfg
  .kokoro/healthcare/datasets.cfg
  .kokoro/healthcare/dicom.cfg
  .kokoro/healthcare/fhir.cfg
  .kokoro/healthcare/hl7v2.cfg
Owners: @noerog

add installDeps function to all remaining tests so that they can run on Kokoro
  healthcare/dicom/system-test/dicom_stores.test.js
  healthcare/dicom/system-test/dicomweb.test.js
  healthcare/fhir/system-test/fhir_resources.test.js
  healthcare/hl7v2/system-test/hl7v2_messages.test.js
  healthcare/hl7v2/system-test/hl7v2_stores.test.js
Owners: @noerog

un-skip IAM tests
  healthcare/datasets/system-test/datasets.test.js
  healthcare/dicom/system-test/dicom_stores.test.js
  healthcare/fhir/system-test/fhir_stores.test.js
  healthcare/hl7v2/system-test/hl7v2_stores.test.js
Owners: @noerog

fix dataset deletion in DICOMweb test
  healthcare/dicom/system-test/dicomweb.test.js
Owners: @noerog

move an env var to common.cfg
  .kokoro/healthcare/common.cfg
  .kokoro/healthcare/datasets.cfg
  .kokoro/healthcare/dicom.cfg
  .kokoro/healthcare/fhir.cfg
  .kokoro/healthcare/hl7v2.cfg
Owners: @noerog

temp disable delete dataset in tests
  healthcare/datasets/system-test/datasets.test.js
Owners: @noerog

fix test DICOM store name
  healthcare/dicom/system-test/dicom_stores.test.js
Owners: @noerog

re-enable dataset deletion in dataset tests
  healthcare/datasets/system-test/datasets.test.js
Owners: @noerog

skip IAM policy tests
  healthcare/datasets/system-test/datasets.test.js
  healthcare/dicom/system-test/dicom_stores.test.js
  healthcare/fhir/system-test/fhir_stores.test.js
  healthcare/hl7v2/system-test/hl7v2_stores.test.js
Owners: @noerog

update LRO response in import/export requests
  healthcare/fhir/exportFhirResources.js
  healthcare/fhir/importFhirResources.js
  healthcare/fhir/resources/fhir_data.ndjson
  healthcare/fhir/system-test/fhir_stores.test.js
Owners: @noerog

add installDeps command in FHIR stores test to see if it makes Kokoro run
  healthcare/fhir/system-test/fhir_stores.test.js
Owners: @noerog

try passing test
  healthcare/datasets/system-test/datasets.test.js
Owners: @noerog
