Repository GoogleCloudPlatform/nodejs-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @fhinkel, @michaelawyu, @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers, @djmailhot, @ricalo, @ericschmidtatwork, @jsimonweb, @nnegrey, @benwhitehead, @kurtisvg, @leahecole, @sofisl, @noerog, @gguuss, @happyhuman

docs(samples): fix sample formatting issues (#94)
  cloud-game-servers/snippets/create_cluster.js
  cloud-game-servers/snippets/create_realm.js
  cloud-game-servers/snippets/delete_cluster.js
  cloud-game-servers/snippets/delete_realm.js
  cloud-game-servers/snippets/get_cluster.js
  cloud-game-servers/snippets/get_realm.js
  cloud-game-servers/snippets/list_clusters.js
  cloud-game-servers/snippets/list_realms.js
Owners: @fhinkel

docs(samples): fix sample formatting issues (#94)
  game-servers/snippets/create_cluster.js
  game-servers/snippets/create_realm.js
  game-servers/snippets/delete_cluster.js
  game-servers/snippets/delete_realm.js
  game-servers/snippets/get_cluster.js
  game-servers/snippets/get_realm.js
  game-servers/snippets/list_clusters.js
  game-servers/snippets/list_realms.js
Owners: @fhinkel

docs(samples): Add Game Server deployment samples (#92)
  generated,README.md/README.md
  generated,README.md/create_cluster.js
  generated,README.md/create_deployment.js
  generated,README.md/delete_deployment.js
  generated,README.md/get_deployment.js
  generated,README.md/list_deployments.js
  generated,README.md/package.json
  generated,README.md/test/crud_deployment.test.js
Owners: @fhinkel

docs(samples): Add Game Server deployment samples (#92)
  cloud-game-servers/snippets/create_cluster.js
  cloud-game-servers/snippets/create_deployment.js
  cloud-game-servers/snippets/delete_deployment.js
  cloud-game-servers/snippets/get_deployment.js
  cloud-game-servers/snippets/list_deployments.js
  cloud-game-servers/snippets/package.json
  cloud-game-servers/snippets/test/crud_deployment.test.js
Owners: @fhinkel

docs(samples): Add Game Server deployment samples (#92)
  game-servers/snippets/create_cluster.js
  game-servers/snippets/create_deployment.js
  game-servers/snippets/delete_deployment.js
  game-servers/snippets/get_deployment.js
  game-servers/snippets/list_deployments.js
  game-servers/snippets/package.json
  game-servers/snippets/test/crud_deployment.test.js
Owners: @fhinkel

docs(samples): change tags to be aligned with golang samples (#97)
  generated,README.md/create_cluster.js
  generated,README.md/create_deployment.js
  generated,README.md/create_realm.js
  generated,README.md/delete_cluster.js
  generated,README.md/delete_deployment.js
  generated,README.md/delete_realm.js
  generated,README.md/get_cluster.js
  generated,README.md/get_deployment.js
  generated,README.md/get_realm.js
  generated,README.md/list_clusters.js
  generated,README.md/list_deployments.js
  generated,README.md/list_realms.js
Owners: @fhinkel

docs(samples): change tags to be aligned with golang samples (#97)
  game-servers/snippets/create_cluster.js
  game-servers/snippets/create_deployment.js
  game-servers/snippets/create_realm.js
  game-servers/snippets/delete_cluster.js
  game-servers/snippets/delete_deployment.js
  game-servers/snippets/delete_realm.js
  game-servers/snippets/get_cluster.js
  game-servers/snippets/get_deployment.js
  game-servers/snippets/get_realm.js
  game-servers/snippets/list_clusters.js
  game-servers/snippets/list_deployments.js
  game-servers/snippets/list_realms.js
Owners: @fhinkel

docs(samples): change tags to be aligned with golang samples (#97)
  cloud-game-servers/snippets/create_cluster.js
  cloud-game-servers/snippets/create_deployment.js
  cloud-game-servers/snippets/create_realm.js
  cloud-game-servers/snippets/delete_cluster.js
  cloud-game-servers/snippets/delete_deployment.js
  cloud-game-servers/snippets/delete_realm.js
  cloud-game-servers/snippets/get_cluster.js
  cloud-game-servers/snippets/get_deployment.js
  cloud-game-servers/snippets/get_realm.js
  cloud-game-servers/snippets/list_clusters.js
  cloud-game-servers/snippets/list_deployments.js
  cloud-game-servers/snippets/list_realms.js
Owners: @fhinkel

chore: updates to readme, add Node8 tests
  generated,README.md/README.md
Owners: @fhinkel

fix(deps): update dependency googleapis to v55
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

fix(deps): update dependency googleapis to v55 (#1926)
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

fix: update run_events_pubsub to also console log
  run/events-pubsub/app.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

test(run/events-storage): add minimal end-to-end test
  run/events-storage/package.json
  run/events-storage/test/deploy.sh
  run/events-storage/test/runner.sh
  run/events-storage/test/system.test.js
  run/events-storage/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

testing(run): only run system tests on system-test script
  run/events-pubsub/package.json
  run/events-storage/package.json
  run/image-processing/package.json
  run/markdown-preview/renderer/package.json
  run/pubsub/package.json
  run/system-package/package.json
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

test(run/image-processing): add minimal end-to-end test
  run/image-processing/package.json
  run/image-processing/test/deploy.sh
  run/image-processing/test/runner.sh
  run/image-processing/test/system.test.js
  run/image-processing/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

chore(run): update copyright 2019 -> 2020
  run/events-pubsub/test/deploy.sh
  run/events-pubsub/test/runner.sh
  run/events-pubsub/test/url.sh
  run/events-storage/test/deploy.sh
  run/events-storage/test/runner.sh
  run/events-storage/test/url.sh
  run/hello-broken/test/deploy.sh
  run/hello-broken/test/runner.sh
  run/hello-broken/test/url.sh
  run/image-processing/Dockerfile
  run/image-processing/app.js
  run/image-processing/index.js
  run/image-processing/test/deploy.sh
  run/image-processing/test/runner.sh
  run/image-processing/test/url.sh
  run/logging-manual/Dockerfile
  run/logging-manual/app.js
  run/logging-manual/index.js
  run/logging-manual/test/deploy.sh
  run/logging-manual/test/runner.sh
  run/logging-manual/test/system.test.js
  run/logging-manual/test/url.sh
  run/markdown-preview/renderer/test/deploy.sh
  run/markdown-preview/renderer/test/runner.sh
  run/markdown-preview/renderer/test/url.sh
  run/pubsub/Dockerfile
  run/pubsub/app.js
  run/pubsub/index.js
  run/pubsub/test/deploy.sh
  run/pubsub/test/runner.sh
  run/pubsub/test/url.sh
  run/system-package/test/deploy.sh
  run/system-package/test/runner.sh
  run/system-package/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

test(run/system-package): add minimal end-to-end test
  run/system-package/package.json
  run/system-package/test/deploy.sh
  run/system-package/test/runner.sh
  run/system-package/test/system.test.js
  run/system-package/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

test(run/events-pubsub): add minimal end-to-end test
  run/events-pubsub/package.json
  run/events-pubsub/test/deploy.sh
  run/events-pubsub/test/runner.sh
  run/events-pubsub/test/system.test.js
  run/events-pubsub/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

test(run/markdown-preview/renderer): add minimal end-to-end test
  run/markdown-preview/renderer/package.json
  run/markdown-preview/renderer/test/deploy.sh
  run/markdown-preview/renderer/test/runner.sh
  run/markdown-preview/renderer/test/system.test.js
  run/markdown-preview/renderer/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

test(run/pubsub): add minimal end-to-end test
  run/pubsub/package.json
  run/pubsub/test/deploy.sh
  run/pubsub/test/runner.sh
  run/pubsub/test/system.test.js
  run/pubsub/test/url.sh
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

chore: delete unused functions sample
  functions/helloworld/index.js
Owners: @ace-n, @grant

Update index.test.js
  functions/helloworld/test/index.test.js
Owners: @ace-n, @grant

chore: delete unused functions sample (#1931)
  functions/helloworld/index.js
  functions/helloworld/test/index.test.js
Owners: @ace-n, @grant

Add samples for GameServerConfigs (#98)
  generated,README.md/create_config.js
  generated,README.md/delete_cluster.js
  generated,README.md/delete_config.js
  generated,README.md/get_config.js
  generated,README.md/list_configs.js
  generated,README.md/test/crud_config.test.js
  generated,README.md/test/delete_cluster.test.js
Owners: @fhinkel

Add samples for GameServerConfigs (#98)
  game-servers/snippets/create_config.js
  game-servers/snippets/delete_cluster.js
  game-servers/snippets/delete_config.js
  game-servers/snippets/get_config.js
  game-servers/snippets/list_configs.js
  game-servers/snippets/test/crud_config.test.js
  game-servers/snippets/test/delete_cluster.test.js
Owners: @fhinkel

Add samples for GameServerConfigs (#98)
  cloud-game-servers/snippets/create_config.js
  cloud-game-servers/snippets/delete_cluster.js
  cloud-game-servers/snippets/delete_config.js
  cloud-game-servers/snippets/get_config.js
  cloud-game-servers/snippets/list_configs.js
  cloud-game-servers/snippets/test/crud_config.test.js
  cloud-game-servers/snippets/test/delete_cluster.test.js
Owners: @fhinkel

Add sample for game server rollout (#102)
  generated,README.md/get_rollout.js
  generated,README.md/test/rollout.js
  generated,README.md/update_rollout_default.js
  generated,README.md/update_rollout_override.js
  generated,README.md/update_rollout_remove_default.js
  generated,README.md/update_rollout_remove_override.js
Owners: @fhinkel

Add sample for game server rollout (#102)
  cloud-game-servers/snippets/get_rollout.js
  cloud-game-servers/snippets/test/rollout.js
  cloud-game-servers/snippets/update_rollout_default.js
  cloud-game-servers/snippets/update_rollout_override.js
  cloud-game-servers/snippets/update_rollout_remove_default.js
  cloud-game-servers/snippets/update_rollout_remove_override.js
Owners: @fhinkel

Add sample for game server rollout (#102)
  game-servers/snippets/get_rollout.js
  game-servers/snippets/test/rollout.js
  game-servers/snippets/update_rollout_default.js
  game-servers/snippets/update_rollout_override.js
  game-servers/snippets/update_rollout_remove_default.js
  game-servers/snippets/update_rollout_remove_override.js
Owners: @fhinkel

Update run/events-pubsub/app.js
  run/events-pubsub/app.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

fix: update run_events_pubsub to also console log (#1928)
  run/events-pubsub/app.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency googleapis to v56
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

docs: update README with additional samples (#104)
  generated,README.md/README.md
Owners: @fhinkel

fix(deps): update dependency googleapis to v56 (#1933)
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

fix(deps): update dependency googleapis to v57
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

fix(deps): update dependency googleapis to v57 (#1934)
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

fix(deps): roll back dependency @google-cloud/security-center to ^5.0.1 (#309)
  security-center/snippets/package.json
Owners: @fhinkel

functions: Update generic GCS sample + remove non-generic one (#1924)
  functions/helloworld/index.js
  functions/helloworld/test/index.test.js
  functions/helloworld/test/sample.integration.storage.test.js
  functions/helloworld/test/sample.system.storage.test.js
  functions/helloworld/test/sample.unit.storage.test.js
Owners: @ace-n, @grant

refactor(run/markdown-preview): improve local testing and CI flakiness
  run/README.md
  run/markdown-preview/editor/Dockerfile
  run/markdown-preview/editor/app.js
  run/markdown-preview/editor/index.js
  run/markdown-preview/editor/package.json
  run/markdown-preview/editor/render.js
  run/markdown-preview/editor/test/app.test.js
  run/markdown-preview/editor/test/deploy.sh
  run/markdown-preview/editor/test/render.test.js
  run/markdown-preview/editor/test/runner.sh
  run/markdown-preview/editor/test/system.test.js
  run/markdown-preview/renderer/Dockerfile
  run/markdown-preview/renderer/app.js
  run/markdown-preview/renderer/index.js
  run/markdown-preview/renderer/package.json
  run/markdown-preview/renderer/test/app.test.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

fix: cap SAMPLE_VERSION to 15 characters
  .kokoro/build-with-run.sh
Owners: @fhinkel

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Repo owner
* @fhinkel

# Kokoro
.kokoro @fhinkel
.kokoro/appengine @michaelawyu
.kokoro/functions @ace-n @grant

# Serverless/CBR
appengine @michaelawyu
functions @ace-n @grant
run @GoogleCloudPlatform/cdpe-cbr-containers

# Other functions samples
functions/scheduleinstance @djmailhot
functions/speech-to-speech @ricalo
functions/memorystore @ericschmidtatwork
functions/spanner @jsimonweb
functions/tokenservice @nnegrey

# GCF samples outside of functions/
datastore/functions @benwhitehead

# One-offs
cloud-sql @kurtisvg
composer @leahecole @sofisl
healthcare @noerog
iot @gguuss
jobs @happyhuman
