Repository GoogleCloudPlatform/nodejs-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @fhinkel, @michaelawyu, @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers, @djmailhot, @ricalo, @ericschmidtatwork, @jsimonweb, @nnegrey, @benwhitehead, @kurtisvg, @leahecole, @sofisl, @noerog, @gguuss, @happyhuman

fix: standardize run events pub/sub message (#1942)
  run/events-pubsub/app.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency googleapis to v59
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

fix(deps): update dependency googleapis to v59 (#1945)
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

Check what service account we use
  .kokoro/build.sh
Owners: @fhinkel

Add Cloud Healthcare API to Kokoro testing pipeline (#1862)
  .kokoro/healthcare/common.cfg
  .kokoro/healthcare/datasets.cfg
  .kokoro/healthcare/dicom.cfg
  .kokoro/healthcare/fhir.cfg
  .kokoro/healthcare/hl7v2.cfg
  healthcare/datasets/system-test/datasets.test.js
  healthcare/dicom/system-test/dicom_stores.test.js
  healthcare/dicom/system-test/dicomweb.test.js
  healthcare/fhir/exportFhirResources.js
  healthcare/fhir/importFhirResources.js
  healthcare/fhir/resources/fhir_data.ndjson
  healthcare/fhir/system-test/fhir_resources.test.js
  healthcare/fhir/system-test/fhir_stores.test.js
  healthcare/hl7v2/system-test/hl7v2_messages.test.js
  healthcare/hl7v2/system-test/hl7v2_stores.test.js
Owners: @noerog

fix(deps): roll back dependency @google-cloud/security-center to ^5.0.3 (#319)
  security-center/snippets/package.json
Owners: @fhinkel

Update readme
  cloud-sql/postgres/knex/README.md
Owners: @kurtisvg

Add license
  run/markdown-preview/editor/index.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

[Cloud Run] Add license to file (#1950)
  run/markdown-preview/editor/index.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Update to CLOUD_SQL_CONNECTION_NAME
  cloud-sql/mysql/mysql/README.md
  cloud-sql/mysql/mysql/app.flexible.yaml
  cloud-sql/mysql/mysql/app.standard.yaml
  cloud-sql/mysql/mysql/server.js
  cloud-sql/postgres/knex/README.md
  cloud-sql/postgres/knex/app.flexible.yaml
  cloud-sql/postgres/knex/app.standard.yaml
  cloud-sql/postgres/knex/package.json
  cloud-sql/postgres/knex/server.js
Owners: @kurtisvg

[Cloud SQL] Update Readme (#1949)
  cloud-sql/mysql/mysql/README.md
  cloud-sql/mysql/mysql/app.flexible.yaml
  cloud-sql/mysql/mysql/app.standard.yaml
  cloud-sql/mysql/mysql/server.js
  cloud-sql/postgres/knex/README.md
  cloud-sql/postgres/knex/app.flexible.yaml
  cloud-sql/postgres/knex/app.standard.yaml
  cloud-sql/postgres/knex/package.json
  cloud-sql/postgres/knex/server.js
Owners: @kurtisvg

Update dependency typescript to v4
  appengine/typescript/package.json
  package.json
Owners: @michaelawyu, @fhinkel

rm kokoro cfgs
  .kokoro/functions/log.cfg
Owners: @ace-n, @grant

Update dependency typescript to v4 (#1958)
  appengine/typescript/package.json
  package.json
Owners: @michaelawyu, @fhinkel

Update dependency axios to ^0.20.0
  functions/security/package.json
  functions/tips/package.json
Owners: @ace-n, @grant

Update dependency axios to ^0.20.0 (#1959)
  functions/security/package.json
  functions/tips/package.json
Owners: @ace-n, @grant

healthcare API: increase sleep time for FHIR import LRO
  healthcare/fhir/importFhirResources.js
Owners: @noerog

healthcare API: increase sleep time for FHIR import LRO (#1961)
  healthcare/fhir/importFhirResources.js
Owners: @noerog

chore(functions): remove redundant logging sample (#1940)
  .kokoro/functions/log.cfg
  functions/log/index.js
  functions/log/package.json
  functions/log/test/index.test.js
Owners: @ace-n, @grant

Remove data from firestore sample
  functions/firebase/index.js
Owners: @ace-n, @grant

Fix tests
  functions/firebase/test/index.test.js
Owners: @ace-n, @grant

got -> axios, post -> get
  appengine/analytics/app.js
  appengine/analytics/package.json
Owners: @michaelawyu

chore(appengine/analytics): fix outdated got usage (#1963)
  appengine/analytics/app.js
  appengine/analytics/package.json
Owners: @michaelawyu

chore(functions/firebase): remove "data" property (#1962)
  functions/firebase/index.js
  functions/firebase/test/index.test.js
Owners: @ace-n, @grant

chore(functions/firebase): use Node 12 syntax
  functions/firebase/index.js
Owners: @ace-n, @grant

Update index.js
  functions/firebase/index.js
Owners: @ace-n, @grant

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Repo owner
* @fhinkel

# Kokoro
.kokoro @fhinkel
.kokoro/appengine @michaelawyu
.kokoro/functions @ace-n @grant

# Serverless/CBR
appengine @michaelawyu
functions @ace-n @grant
run @GoogleCloudPlatform/cdpe-cbr-containers

# Other functions samples
functions/scheduleinstance @djmailhot
functions/speech-to-speech @ricalo
functions/memorystore @ericschmidtatwork
functions/spanner @jsimonweb
functions/tokenservice @nnegrey

# GCF samples outside of functions/
datastore/functions @benwhitehead

# One-offs
cloud-sql @kurtisvg
composer @leahecole @sofisl
healthcare @noerog
iot @gguuss
jobs @happyhuman
