Repository GoogleCloudPlatform/nodejs-docs-samples, changes with the owners that CODEOWNERS names for each.
All owners: @fhinkel, @michaelawyu, @ace-n, @grant, @GoogleCloudPlatform/cdpe-cbr-containers, @djmailhot, @ricalo, @ericschmidtatwork, @jsimonweb, @nnegrey, @benwhitehead, @kurtisvg, @leahecole, @sofisl, @noerog, @gguuss, @happyhuman

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Repo owner
* @fhinkel

# Kokoro
.kokoro @fhinkel
.kokoro/appengine @michaelawyu
.kokoro/functions @ace-n @grant

# Serverless/CBR
appengine @michaelawyu
functions @ace-n @grant
run @GoogleCloudPlatform/cdpe-cbr-containers

# Other functions samples
functions/scheduleinstance @djmailhot
functions/speech-to-speech @ricalo
functions/memorystore @ericschmidtatwork
functions/spanner @jsimonweb
functions/tokenservice @nnegrey

# GCF samples outside of functions/
datastore/functions @benwhitehead

# One-offs
cloud-sql @kurtisvg
composer @leahecole @sofisl
healthcare @noerog
iot @gguuss
jobs @happyhuman

run: events region tags
  run/events-pubsub/app.js
  run/events-storage/app.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Add .gcloudignore and Dockerfile for Cloud Run deployment
  memorystore/redis/.gcloudignore
  memorystore/redis/cloud_run_deployment/Dockerfile
Owners: @fhinkel

run: events region tags (#1906)
  run/events-pubsub/app.js
  run/events-storage/app.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

Fixing container build command in README.md
  endpoints/getting-started-grpc/README.md
Owners: @fhinkel

healthcare API: add comment clarifying FHIR update resource
  healthcare/fhir/updateFhirResource.js
Owners: @noerog

Billing function fixes for reviews and testing
  functions/billing/index.js
Owners: @ace-n, @grant

Simplify environment variable code
  functions/billing/index.js
Owners: @ace-n, @grant

run: events brushup (#1904)
  run/events-storage/README.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

chore(deps): no canvas (#417)
  texttospeech/package.json
Owners: @fhinkel

Events for Cloud Run for Anthos – GCS and PubSub tutorial. Fixes #1910
  run/README.md
  run/events-pubsub/anthos.md
  run/events-storage/anthos.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

chore(deps): update dependency puppeteer to v5
  appengine/websockets/package.json
Owners: @michaelawyu

chore(deps): update dependency puppeteer to v5 (#1912)
  appengine/websockets/package.json
Owners: @michaelawyu

fix(deps): update dependency @google-cloud/firestore to v4 (#1902)
  functions/firebase/package.json
Owners: @ace-n, @grant

healthcare API: add comment clarifying FHIR update resource (#1909)
  healthcare/fhir/updateFhirResource.js
Owners: @noerog

Billing code sample function change (#1905)
  functions/billing/index.js
Owners: @ace-n, @grant

Fixing container build command in README.md (#1908)
  endpoints/getting-started-grpc/README.md
Owners: @fhinkel

Memorystore: Add Dockerfile for Cloud Run deployment (#1907)
  memorystore/redis/.gcloudignore
  memorystore/redis/cloud_run_deployment/Dockerfile
Owners: @fhinkel

Events for Cloud Run for Anthos – GCS and PubSub tutorial. Fixes #1910 (#1911)
  run/README.md
  run/events-pubsub/anthos.md
  run/events-storage/anthos.md
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

test: make redact image comparison less strict (#500)
  dlp/system-test/redact.test.js
Owners: @fhinkel

chore(samples): no native sleep (#396)
  dataproc/package.json
  dataproc/quickstart.js
Owners: @fhinkel

test: fix sample test by pointing at a shared cluster with Agones (#81)
  generated,README.md/test/create_cluster.test.js
  generated,README.md/test/delete_cluster.test.js
  generated,README.md/test/get_cluster.test.js
  generated,README.md/test/list_clusters.test.js
Owners: @fhinkel

test: fix sample test by pointing at a shared cluster with Agones (#81)
  game-servers/snippets/test/create_cluster.test.js
  game-servers/snippets/test/delete_cluster.test.js
  game-servers/snippets/test/get_cluster.test.js
  game-servers/snippets/test/list_clusters.test.js
Owners: @fhinkel

test: fix sample test by pointing at a shared cluster with Agones (#81)
  cloud-game-servers/snippets/test/create_cluster.test.js
  cloud-game-servers/snippets/test/delete_cluster.test.js
  cloud-game-servers/snippets/test/get_cluster.test.js
  cloud-game-servers/snippets/test/list_clusters.test.js
Owners: @fhinkel

Update dependency @google-cloud/logging-winston to v4
  cloud-sql/mysql/mysql/package.json
  cloud-sql/postgres/knex/package.json
  cloud-sql/sqlserver/mssql/package.json
Owners: @kurtisvg

Update dependency @google-cloud/logging-winston to v4 (#1914)
  cloud-sql/mysql/mysql/package.json
  cloud-sql/postgres/knex/package.json
  cloud-sql/sqlserver/mssql/package.json
Owners: @kurtisvg

test(run)!: rename npm script e2e-test to system-test
  .kokoro/build-with-run.sh
  run/hello-broken/package.json
  run/logging-manual/package.json
  run/markdown-preview/editor/package.json
Owners: @fhinkel, @GoogleCloudPlatform/cdpe-cbr-containers

test(run)!: rename npm script e2e-test to system-test (#1915)
  .kokoro/build-with-run.sh
  run/hello-broken/package.json
  run/logging-manual/package.json
  run/markdown-preview/editor/package.json
Owners: @fhinkel, @GoogleCloudPlatform/cdpe-cbr-containers

Update dependency googleapis to v54
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

Update dependency googleapis to v54 (#1919)
  functions/billing/package.json
  functions/slack/package.json
  healthcare/datasets/package.json
  healthcare/dicom/package.json
  healthcare/fhir/package.json
  healthcare/hl7v2/package.json
  iot/http_example/package.json
  iot/manager/package.json
  jobs/v3/package.json
  storage-transfer/package.json
Owners: @ace-n, @grant, @noerog, @gguuss, @happyhuman, @fhinkel

Use better naming of variables and make sure documentation is consistent with function definitions
  functions/helloworld/index.js
Owners: @ace-n, @grant

Use event instead of data
  functions/helloworld/index.js
Owners: @ace-n, @grant

Update retry number
  run/markdown-preview/editor/test/system.test.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

chore: refactor variable names
  functions/helloworld/index.js
Owners: @ace-n, @grant

Update retry number (#1921)
  run/markdown-preview/editor/test/system.test.js
Owners: @GoogleCloudPlatform/cdpe-cbr-containers

fix(deps): update dependency firebase-admin to v9
  functions/speech-to-speech/functions/package.json
  functions/tokenservice/functions/package.json
Owners: @ricalo, @nnegrey

fix(deps): update dependency firebase-admin to v9 (#1922)
  functions/speech-to-speech/functions/package.json
  functions/tokenservice/functions/package.json
Owners: @ricalo, @nnegrey

docs: Add filter field libary sample for UpdateNotificationConfig (#288)
  security-center/snippets/v1/updateNotificationConfig.js
Owners: @fhinkel

Update generic GCS sample + remove non-generic one
  functions/helloworld/index.js
  functions/helloworld/test/sample.integration.storage.test.js
  functions/helloworld/test/sample.system.storage.test.js
  functions/helloworld/test/sample.unit.storage.test.js
Owners: @ace-n, @grant

Remove replaced GCS sample
  functions/helloworld/index.js
  functions/helloworld/test/index.test.js
  functions/helloworld/test/sample.integration.storage.test.js
  functions/helloworld/test/sample.system.storage.test.js
  functions/helloworld/test/sample.unit.storage.test.js
Owners: @ace-n, @grant

docs(samples): fix sample formatting issues (#94)
  generated,README.md/create_cluster.js
  generated,README.md/create_realm.js
  generated,README.md/delete_cluster.js
  generated,README.md/delete_realm.js
  generated,README.md/get_cluster.js
  generated,README.md/get_realm.js
  generated,README.md/list_clusters.js
  generated,README.md/list_realms.js
Owners: @fhinkel
